<!--
  Generated template for the RatehistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Rate History</ion-title>
        <!--         <ion-buttons end right>
            <button ion-button icon-only>
        <ion-icon style="color:white !important;"  name="notifications"></ion-icon>
      </button>
        </ion-buttons> -->
    </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-row style="padding-left: 10px;padding-right: 0; position: relative; font-size: 1.6rem; font-weight: normal;" *ngIf="branch_settings == 1 && branch_wiseRate == 1">
        <ion-col style="text-align:  -webkit-center !important;">

            <ion-input style="background:#f39c35 !important;width: 60% !important;border-radius: 3px !important;" [(ngModel)]="branchname" (tap)="openmodal()" type="text" readonly='true' placeholder="Select Branch">
            </ion-input>

        </ion-col>
    </ion-row><br>

    <ion-segment [(ngModel)]="type" color="primary" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="Gold">
            Gold
        </ion-segment-button>


        <ion-segment-button value="Silver">
            Silver
        </ion-segment-button>


        <!--         <ion-segment-button value="Platinum">
            Platinum
        </ion-segment-button> -->
    </ion-segment>
    <ion-row style="margin-top: 10px !important;">
        <ion-col style="text-align: center;
      color: white;">
            From Date
        </ion-col>
        <ion-col style="text-align: center;
      color: white;">
            To Date
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="text-align: -webkit-center !important;">
            <ion-input style="background:#f39c35 !important;color: white !important;font-weight: bold;border: none !important;width: 75% !important;height:90% !important;font-size: 12px !important;border-radius: 4px !important;" readonly="true" class="ion_datetime"
                [(ngModel)]="from" displayFormat="DD-MM-YYYY" (focusin)="fromdate()"></ion-input>
        </ion-col>
        <ion-col style="text-align: -webkit-center !important;">
            <ion-input style="background:#f39c35 !important;color: white !important;font-weight: bold;border: none !important;width: 75% !important;height:90% !important;font-size: 12px !important;border-radius: 4px !important;" readonly="true" class="ion_datetime"
                [(ngModel)]="to" displayFormat="DD-MM-YYYY" (focusin)="todate()"></ion-input>
        </ion-col>
    </ion-row>

    <!--  <span *ngIf="chartgrate.length > 0"> -->

    <ion-card>
        <ion-row *ngIf="showSpinner == true">
            <ion-col style="text-align: center;">
                <ion-spinner name="dots"></ion-spinner>

            </ion-col>
        </ion-row>

        <ion-row *ngIf="showSpinner == false && chartratestatus == false">
            <ion-col style="text-align: center;">
                No Data Found
            </ion-col>
        </ion-row>

        <ion-row *ngIf="branchname == '' && branch_settings == 1 && branch_wiseRate == 1">
            <ion-col style="text-align: center;color:black;font-weight: bold;">
                Please Select Branch
            </ion-col>
        </ion-row>
        <canvas #barChart></canvas>
    </ion-card>

    <ion-row style="background:#f39c35;color: white;margin-top:15px !important">
        <ion-col col-2>
            S.No
        </ion-col>
        <ion-col col-6>
            Date
        </ion-col>
        <ion-col col-4>
            1 Gm {{type}}
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let data of history;let i = index" [ngClass]="isOdd(i) == 0 ? 'one':'two'">
        <ion-col col-2>
            {{i + 1}}
        </ion-col>
        <ion-col col-6>
            {{data['updatetime']}}
        </ion-col>
        <ion-col col-4 *ngIf="type == 'Gold'">
            {{data['goldrate_22ct']}}
        </ion-col>
        <ion-col col-4 *ngIf="type == 'Silver'">
            {{data['silverrate_1gm']}}
        </ion-col>
        <!--     <ion-col col-4 *ngIf="type == 'Platinum'">
            {{data['platinum_1g']}}
        </ion-col> -->
    </ion-row>
    <ion-row *ngIf="showSpinner == true">
        <ion-col style="text-align: center;">
            <ion-spinner name="dots"></ion-spinner>

        </ion-col>
    </ion-row>
    <ion-row *ngIf="showSpinner == false && history.length == 0">
        <ion-col style="text-align: center;color: black;">
            No Data Found
        </ion-col>
    </ion-row>

</ion-content>

<!-- <ion-footer style="margin-bottom: 45px !important;">
    <ion-row>
        <ion-col col-7>

        </ion-col>
        <ion-col style="background: maroon;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;" col-1>
            <ion-icon style="color: white !important;" name="call"></ion-icon>
        </ion-col>
        <ion-col style="background:#e8e7e7;" col-4>
            <a style="    color: black !important;
            font-weight: bold !important;" href="tel:0422 4222200">0422 4222200</a>
        </ion-col>
    </ion-row>
</ion-footer> -->