<!--
  Generated template for the EcomfilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-row>
        <ion-col col-8>
        <ion-title style="padding-top: 10px !important;color: white;">Category</ion-title>
      </ion-col>
    <ion-col col-4>
        <button style="background:transparent !important;float:right;color: white;" (click)="close()" ion-button>Close</button>
      </ion-col>
      </ion-row>
      </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let p of pages; let i=index" text-wrap >
        <ion-row>
          <ion-col col-4 style="margin: auto;">
        <h4 (click)="open(p)">{{p.category}}&nbsp;({{p.subs.length}})</h4>
      </ion-col>
    <ion-col no-padding style="margin: auto;"> 
          <h4><ion-icon (click)="toggleLevel1('idx'+i,i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" style="    font-size: 1.5em !important;
          color: #f79f33 !important;" color="success" item-right [name]="i == one ? 'remove-circle' : 'add-circle'"></ion-icon>
        </h4>
      </ion-col>
      </ion-row>
        <ion-list *ngIf="i == one">
          <ion-item *ngFor="let s of p.subs; let i2=index" text-wrap >
            <ion-row>
              <ion-col style="margin: auto;">
            <h4 (click)="open(s)">
              <div class="row">
              <span class="col" style="">{{s.subcategory}}&nbsp;({{s.manufactures.length}})</span> 
                </div>
            </h4>
              </ion-col>
            <ion-col style="margin: auto;" no-padding>
              <h4>
              <ion-icon (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}" style="    font-size: 1.5em !important;
              color: #f79f33 !important;" color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'remove-circle' : 'add-circle'"></ion-icon>
            </h4>
            </ion-col>
          </ion-row>
            <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
              <ion-item  *ngFor="let m of s.manufactures" (click)="open(m)" text-wrap>
                <div class="row">
                <span class="col" style=""> {{m.name}}</span>
              </div>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
</ion-content>
<!-- *ngIf="isLevel1Shown('idx'+i)" -->