<!--
  Generated template for the SchemedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-row style="background: transparent !important;">
            <ion-col col-2>
                <ion-buttons start>
                    <button (click)="goBack($event)" style="background: transparent !important;color: rgb(255, 255, 255) !important;font-size: 20px !important;">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
                </ion-buttons>
            </ion-col>
            <ion-col col-10 style="margin: auto !important; color: white !important;">
                <ion-title style="color: white !important;">My Plans</ion-title>
            </ion-col>
            <!--        <ion-col (click)="paydue()" col-2>
                <img style="max-width: 22px !important;" src="assets/icon/PayEMA.svg">
            </ion-col> -->

        </ion-row>
    </ion-toolbar>



</ion-header>

<ion-content padding>
    <!-- <ion-row style="text-align: center !important;">
        <ion-col>
            <span style="font-size: 15px !important;border-bottom: 1px solid lightgray; color: #111 !important;">Purchase
            Plan Detail </span><br>
        </ion-col>
    </ion-row> -->
    <ion-card *ngIf="( details != '' && details.chit.one_time_premium == 0 ) &&  details.chit.disable_payment == 1 &&  details.chit.disable_pay_reason != null">
        <ion-row>
            <ion-col col-2 style="text-align: center !important;">
                <ion-icon style="font-size: 2.9em !important;color: #c71e25 !important;" ios="ios-warning" md="md-warning"></ion-icon>
            </ion-col>
            <ion-col col-10 style=" text-align: justify !important; font-weight: bolder !important;font-family: system-ui;">
                {{details['chit']['disable_pay_reason']}}
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card *ngIf="details != '' && details.chit.one_time_premium == 0">
        <ion-row>
            <ion-col col-10>
                <ion-row>
                    <ion-col *ngIf="details.chit.code != NULL && details.chit.chit_number != NULL">
                        <b>{{details['chit']['chit_number']}}</b>
                    </ion-col>
                    <ion-col *ngIf="details.chit.chit_number == NULL">
                        <b>Not Allocated</b>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{details['chit']['scheme_name']}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    A/c Name
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['account_name']}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Start Date
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['start_date']}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Payable
                </ion-col>
                <ion-col *ngIf="(details.chit['scheme_type'] == '0' || details.chit['scheme_type'] == '2' || ( details.chit['scheme_type'] == '3' && ( details.chit['flexible_sch_type'] == 0 || details.chit['flexible_sch_type'] == 1  || details.chit['flexible_sch_type'] == 5 )))"
                    style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details['chit']['payable']}}<br>
                    <span *ngIf="details.chit['allowPayDisc'] == 'All' && details.chit['discount_val'] !='' " style="font-size: 10px !important;font-weight: 600 !important;">( Pay Rs.{{details['chit']['payable'] - details['chit']['discount_val'] }} + Rs.{{details.chit.discount_val}} Bonus = Rs.{{details.chit['payable']}})</span>
                </ion-col>
                <ion-col *ngIf="( details.chit['scheme_type'] == '3' && details.chit['flexible_sch_type'] == 2 )" style="font-weight: bold;">
                   <span *ngIf="details['chit']['payable']!='-'"> {{currency.currency.currency_symbol}} </span> {{details['chit']['payable']}}
                </ion-col>
                <ion-col *ngIf="( details.chit['scheme_type'] == '3' && details.chit['flexible_sch_type'] == 3 )" style="font-weight: bold;">
                    Max {{details['chit']['max_weight']}} g /month
                </ion-col>
                <ion-col *ngIf="details.chit['scheme_type'] == '1'" style="font-weight: bold;">
                    {{details['chit']['payable']}} g
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Installments
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['paid_installments']}}/{{details['chit']['total_installments']}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '0'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}<br>
                    <span *ngIf="details.chit['allowPayDisc'] == 'All' && details.chit['discount_val'] !='' " style="font-size: 10px !important;font-weight: 600 !important;">( Paid Rs.{{(details.chit.total_paid_amount-details.chit.gst) - (details['chit']['discount_val'] * details['chit']['paid_installments'] )}} + Rs.{{details.chit.discount_val * details['chit']['paid_installments']}} Bonus = Rs.{{details.chit.total_paid_amount-details.chit.gst}})</span>

                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '1'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '2'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '3' && ( details.chit['flexible_sch_type'] == 1 ||  details.chit['flexible_sch_type'] == 2 ||  details.chit['flexible_sch_type'] == 3)">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="details.chit['scheme_type'] == '1'">
                <ion-col>
                    Saved Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '2'">
                <ion-col>
                    Saved Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '3' && ( details.chit['flexible_sch_type'] == '2' || details.chit['flexible_sch_type'] == '3' )">
                <ion-col>
                    Saved Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>
            <!--       <ion-row>
                <ion-col>
                    Maturity Date
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['maturity_date']}}
                </ion-col>
            </ion-row> -->
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="(details != '' && details.chit.one_time_premium == 1) && details.chit.disable_payment == 1 &&  details.chit.disable_pay_reason != null">
        <ion-row>
            <ion-col col-2 style="text-align: center !important;">
                <ion-icon style="    font-size: 2.9em !important;color: #c71e25 !important;" ios="ios-warning" md="md-warning"></ion-icon>
            </ion-col>
            <ion-col col-10 style="    text-align: justify !important; font-weight: bolder !important;font-family: system-ui;">
                {{details['chit']['disable_pay_reason']}}
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card *ngIf="details != '' && details.chit.one_time_premium == 1">
        <ion-row>
            <ion-col col-10>
                <ion-row>
                    <ion-col *ngIf="details.chit.code != NULL && details.chit.chit_number != NULL">
                        <b>{{details['chit']['chit_number']}}</b>
                    </ion-col>
                    <ion-col *ngIf="details.chit.chit_number == NULL">
                        <b>Not Allocated</b>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{details['chit']['scheme_name']}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    A/c Name
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['account_name']}}
                </ion-col>
            </ion-row>
            <!--             <ion-row>
                <ion-col>
                    Payable
                </ion-col>
                <ion-col *ngIf="details.chit['scheme_type'] == '0' || details.chit['scheme_type'] == '2' || details.chit['scheme_type'] == '3'" style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details['chit']['payable']}}
                </ion-col>
                <ion-col *ngIf="details.chit['scheme_type'] == '1'" style="font-weight: bold;">
                    {{details['chit']['payable']}} g
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col>
                    Start Date
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['start_date']}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Payable
                </ion-col>
                <ion-col *ngIf="(details.chit['scheme_type'] == '0' || details.chit['scheme_type'] == '2' || ( details.chit['scheme_type'] == '3' && ( details.chit['flexible_sch_type'] == 0 || details.chit['flexible_sch_type'] == 1 )))" style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details['chit']['payable']}}<br>
                    <span *ngIf="details.chit['allowPayDisc'] == 'All' && details.chit['discount_val'] !='' " style="font-size: 10px !important;font-weight: 600 !important;">( Pay Rs.{{details['chit']['payable'] - details['chit']['discount_val'] }} + Rs.{{details.chit.discount_val}} Bonus = Rs.{{details.chit['payable']}})</span>

                </ion-col>
                <ion-col *ngIf="( details.chit['scheme_type'] == '3' && (details.chit['flexible_sch_type'] == 2 || details.chit['flexible_sch_type'] == 5) )" style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details['chit']['payable']}}
                </ion-col>
                <ion-col *ngIf="( details.chit['scheme_type'] == '3' && details.chit['flexible_sch_type'] == 3 )" style="font-weight: bold;">
                    Max {{details['chit']['max_weight']}} g /month
                </ion-col>
                <ion-col *ngIf="details.chit['scheme_type'] == '1'" style="font-weight: bold;">
                    {{details['chit']['payable']}} g
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Installments
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['paid_installments']}}/{{details['chit']['total_installments']}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Maturity Date
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['maturity_date']}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '0'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}<br>
                    <span *ngIf="details.chit['allowPayDisc'] == 'All' && details.chit['discount_val'] !='' " style="font-size: 10px !important;font-weight: 600 !important;">( Paid Rs.{{(details.chit.total_paid_amount-details.chit.gst) - (details['chit']['discount_val'] * details['chit']['paid_installments'] )}} + Rs.{{details.chit.discount_val * details['chit']['paid_installments']}} Bonus = Rs.{{details.chit.total_paid_amount-details.chit.gst}})</span>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '1'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '2'">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details.chit.total_paid_amount-details.chit.gst}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '3' && details.chit['one_time_premium'] == '1' && ( details.chit['flexible_sch_type'] == '1' || details.chit['flexible_sch_type'] == '5' )">
                <ion-col>
                    Paid Amount
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{currency.currency.currency_symbol}} {{details['chit']['total_paid_amount']}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '1'">
                <ion-col>
                    Paid Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '2'">
                <ion-col>
                    Paid Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details.chit['scheme_type'] == '3' && ( details.chit['flexible_sch_type'] == '2' || details.chit['flexible_sch_type'] == '3' )">
                <ion-col>
                    Paid Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['total_paid_weight']}} gm
                </ion-col>
            </ion-row>

            <ion-row *ngIf="details.chit['otp_price_fixing'] == 1">
                <ion-col>
                    Rate Fixed
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['is_rate_fixed']}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Fixed Gold Rate
                </ion-col>
                <ion-col style="font-weight: bold;">
                    <span *ngIf="details.chit['fixed_metal_rate'] > 0">{{currency.currency.currency_symbol}} {{details['chit']['fixed_metal_rate']}}</span>
                    <span *ngIf="details.chit['fixed_metal_rate'] == 0"> - </span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Fixed Weight
                </ion-col>
                <ion-col style="font-weight: bold;">
                    <span *ngIf="details['chit']['fixed_wgt'] > 0"> {{details['chit']['fixed_wgt']}} g </span>
                    <span *ngIf="details['chit']['fixed_wgt'] == 0 || details['chit']['fixed_wgt'] == null"> - </span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Rate Fixed On
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['fixed_rate_on']}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="details['chit']['rate_fixed_in']">
                <ion-col>
                    Rate Fixed In
                </ion-col>
                <ion-col style="font-weight: bold;">
                    {{details['chit']['rate_fixed_in']}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-row style="text-align: center !important;" *ngIf="details['payments'] !=''">
        <ion-col>
            <span style="font-size: 15px !important;border-bottom: 1px solid lightgray; color: #111 !important;">Transaction Details </span><br>
        </ion-col>
    </ion-row>

    <p *ngIf="(details != '') && ((details.chit['scheme_type'] ==0) && details['payments'] !='')">
        <ion-card *ngFor="let p of details['payments']; let i = index">
            <ion-row>
                <ion-col col-5>
                    <span style="font-size: larger;font-weight: bold;"> {{p['receipt_jil']}}</span>
                    <ion-row>
                        <img class="small_icon" src="assets/plandetail/calendar_icon.svg" />&nbsp; {{p['trans_date']}}
                    </ion-row>
                </ion-col>
                <ion-col col-3 style="display: inherit;">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"><span style="font-size: 14px !important;">&#8377;</span>{{p['amount']}}</span><img class="small_icon" src="assets/plandetail/amount_icon.svg" style="margin: auto;" />
                </ion-col>

                <ion-col col-3 style="display: inherit;">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"> - </span>
                </ion-col>
                <ion-col col-1 style="margin: auto;">
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="!p.toggle" name="arrow-dropdown"></ion-icon>
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="p.toggle" name="arrow-dropup"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-card-content *ngIf="p['toggle']">
                <ion-row>
                    <ion-col>
                        Mode
                    </ion-col>
                    <ion-col>
                        {{p['payment_mode']}}
                    </ion-col>
                    <ion-col>
                        Status
                    </ion-col>
                    <ion-col>
                        {{p['pay_status']}}
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>
    </p>

    <!-- weight scheme -->
    <p *ngIf="(details != '') && (details.chit['scheme_type'] == 1 ) && details['payments'] !=''">
        <ion-card *ngFor="let p of details['payments']; let i = index">
            <ion-row>
                <ion-col col-5>
                    <span style="font-size: larger;font-weight: bold;"> {{p['receipt_jil']}}</span>
                    <ion-row>
                        <img class="small_icon" src="assets/plandetail/calendar_icon.svg" />&nbsp; {{p['trans_date']}}
                    </ion-row>
                </ion-col>
                <ion-col col-3 style="display: inherit;">
                    <span style="font-size: larger;font-weight: bold;margin: auto;">{{p['weight']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>
                <ion-col col-3 style="margin: auto;">
                    <span style="font-size: larger;font-weight: bold;" [ngClass]="p['pay_status'] == 'Success' ? 'one':'' || p['pay_status'] == 'Awaiting' ? 'two':'' || p['pay_status'] == 'Failed' ? 'three':'' || p['pay_status'] == 'Yet to Approve' ? 'four':'' ">{{p['pay_status']}}</span>
                </ion-col>
                <ion-col col-1 style="margin: auto;">
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="!p.toggle" name="arrow-dropdown"></ion-icon>
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="p.toggle" name="arrow-dropup"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-card-content *ngIf="p['toggle']">
                <ion-row>

                    <ion-col>
                        Mode
                    </ion-col>
                    <ion-col>
                        {{p['payment_mode']}}
                    </ion-col>
                    <ion-col>
                        Status
                    </ion-col>
                    <ion-col>
                        {{p['pay_status']}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        Gold Rate
                    </ion-col>
                    <ion-col col-3>
                        {{p['rate']}}
                    </ion-col>

                </ion-row>
            </ion-card-content>
        </ion-card>
    </p>

    <p *ngIf="details != '' && ((details.chit['scheme_type'] ==2 ) && details['payments'] !='')">
        <ion-card *ngFor="let p of details['payments']; let i = index">
            <ion-row>
                <ion-col col-5>
                    <span style="font-size: larger;font-weight: bold;"> {{p['receipt_jil']}}</span>
                    <ion-row>
                        <img class="small_icon" src="assets/plandetail/calendar_icon.svg" />&nbsp; {{p['trans_date']}}
                    </ion-row>
                </ion-col>
                <ion-col col-3 style="display: inherit;">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"><span [innerHTML]="currency.currency.curr_symb_html"></span> {{p['amount']}}</span><img class="small_icon" src="assets/plandetail/amount_icon.svg" style="margin: auto;"
                    />
                </ion-col>

                <ion-col col-3 style="display: inherit;">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"> {{p['weight']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>
                <ion-col col-1 style="margin: auto;">
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="!p.toggle" name="arrow-dropdown"></ion-icon>
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="p.toggle" name="arrow-dropup"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-card-content *ngIf="p['toggle']">
                <ion-row>

                    <ion-col>
                        Mode
                    </ion-col>
                    <ion-col>
                        {{p['payment_mode']}}
                    </ion-col>
                    <ion-col>
                        Status
                    </ion-col>
                    <ion-col>
                        {{p['pay_status']}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        Gold Rate
                    </ion-col>
                    <ion-col col-3>
                        {{p['rate']}}
                    </ion-col>

                </ion-row>
            </ion-card-content>
        </ion-card>
    </p>

    <p *ngIf="details != ''  && (details.chit['scheme_type'] ==3) && details['payments'] !='' ">
        <ion-card *ngFor="let p of details['payments']; let i = index">
            <ion-row>
                <ion-col col-5>
                    <span style="font-size: larger;font-weight: bold;">  {{p['receipt_jil']}}</span>
                    <ion-row>
                        <img class="small_icon" src="assets/plandetail/calendar_icon.svg" />&nbsp; {{p['trans_date']}}
                    </ion-row>
                </ion-col>

                <!-- one premium == 0 -->

                <ion-col col-3 style="display: inherit;" *ngIf="( (details.chit.one_time_premium == 0)&& (details.chit.flexible_sch_type == 1 || details.chit.flexible_sch_type == 2 || details.chit.flexible_sch_type == 3)) && p.amount > 0">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"><span style="font-size: 14px !important;">&#8377;</span>{{p['amount']}}</span><img class="small_icon" src="assets/plandetail/amount_icon.svg" style="margin: auto;" />
                </ion-col>
                <ion-col col-3 style="display: inherit;" *ngIf=" ((details.chit.one_time_premium == 0)&&  ( details.chit.flexible_sch_type == 2 || details.chit.flexible_sch_type == 3))">
                    <span style="font-size: larger;font-weight: bold;margin: auto;">{{p['weight']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>
                <ion-col col-3 style="display: inherit;" *ngIf=" ((details.chit.one_time_premium == 0) && (details.chit.flexible_sch_type == 4 || details.chit.flexible_sch_type == 5) )">
                    <span style="font-size: larger;font-weight: bold;margin: auto;">{{p['esti_wgt']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>

                <!-- one premium == 1 -->

                <ion-col col-3 style="display: inherit;" *ngIf="( (details.chit.one_time_premium == 1)&& (details.chit.flexible_sch_type == 1 || details.chit.flexible_sch_type == 2 || details.chit.flexible_sch_type == 5 )) && p.amount > 0">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"><span style="font-size: 14px !important;">&#8377;</span>{{p['amount']}}</span><img class="small_icon" src="assets/plandetail/amount_icon.svg" style="margin: auto;" />
                </ion-col>
                <ion-col col-3 style="display: inherit;" *ngIf="( (details.chit.one_time_premium == 1)&& (details.chit.flexible_sch_type == 2) ) && p.amount > 0">
                    <span style="font-size: larger;font-weight: bold;margin: auto;"> {{p['weight']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>

                <ion-col col-3 style="display: inherit;" *ngIf=" ((details.chit.one_time_premium == 1)&& details.chit.flexible_sch_type == 3)">
                    <span style="font-size: larger;font-weight: bold;margin: auto;">{{p['weight']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>

                <ion-col col-3 style="display: inherit;" *ngIf=" ((details.chit.one_time_premium == 1) && (details.chit.flexible_sch_type == 4 || details.chit.flexible_sch_type == 5) )">
                    <span style="font-size: larger;font-weight: bold;margin: auto;">{{p['esti_wgt']}}<span style="font-size: 14px !important;">G</span></span><img class="small_icon" src="assets/plandetail/weight_icon.svg" style="margin: auto;" />
                </ion-col>


                <ion-col col-1 style="margin: auto;">
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="!p.toggle" name="arrow-dropdown"></ion-icon>
                    <ion-icon (click)="tog(p['id_payment'],i)" *ngIf="p.toggle" name="arrow-dropup"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-card-content *ngIf="p['toggle']">
                <ion-row *ngIf="( (details.chit.one_time_premium == 0 || details.chit.one_time_premium == 1)&& (details.chit.flexible_sch_type == 1 || details.chit.flexible_sch_type == 2 || details.chit.flexible_sch_type == 3 || details.chit.flexible_sch_type == 4 || details.chit.flexible_sch_type == 5))">
                    <ion-col>
                        Mode
                    </ion-col>
                    <ion-col>
                        {{p['payment_mode']}}
                    </ion-col>
                    <ion-col>
                        Status
                    </ion-col>
                    <ion-col>
                        {{p['pay_status']}}
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="((details.chit.one_time_premium == 0)&& (details.chit.flexible_sch_type == 1 || details.chit.flexible_sch_type == 2 || details.chit.flexible_sch_type == 3 || details.chit.flexible_sch_type == 4 || details.chit.flexible_sch_type == 5))">
                    <ion-col col-3>
                        Gold Rate
                    </ion-col>
                    <ion-col col-3>
                        {{p['rate']}}
                    </ion-col>

                </ion-row>

            </ion-card-content>
        </ion-card>
    </p>


    <!-- <ion-fab bottom  right >
	   <button ion-fab mini (click)="goToPay()">Pay</button>
	 </ion-fab> -->
</ion-content>
