<ion-header style="background: #000">
	<ion-navbar>
			<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>Product Detail</ion-title>
	</ion-navbar>
</ion-header>
<ion-content [@flyInTopSlow]="0">

	<ion-segment [(ngModel)]="relationship" color="primary">
				<ion-segment-button   value="cat">
				  Orders
				</ion-segment-button>
				<ion-segment-button  value="posts">
				  Payments
				</ion-segment-button>
			 
				</ion-segment>

	<ion-card *ngIf="relationship == 'cat'">
			<ion-card-header no-padding>
			<ion-row>
				<ion-col><button ion-button clear small style="color:black !important" icon-start>Product Name : {{productdet.product_name}}</button></ion-col>
				<ion-col style="margin: auto;text-align: end;">{{productdet.order_no}}</ion-col>
			</ion-row>
		</ion-card-header>
		<hr>
		<img src="{{productdet.image}}" imageViewer="{{productdet.image}}" onerror="this.src='assets/img/no-img.png'"/>
				  <hr>
		  <ion-scroll *ngIf="productdet.hasOwnProperty('images') && productdet['images'].length > 0" scrollX="true" style="height:70px">
               <ion-row  nowrap>
                   <ion-col col-3 width-33 style="padding: 5px;" *ngFor=" let oimage of productdet.images; let i=index " (click)="changeImage(oimage)">
                       <ion-card style="margin: 0px 0px 0px 0px;box-shadow: none;min-width: 75px;">
                           <img src='{{oimage}}' width="60px" height="60px" onerror="this.src='assets/img/no-img.png'"/>
                       </ion-card>
                   </ion-col>
							 </ion-row>
						
           </ion-scroll>
           <hr>
		<ion-card-content>
			<p><b>Status</b> : <span [style.background-color]="productdet.color" style="color: white;
				padding: 5px;
				border-radius: 5px;">{{productdet.order_status}}</span></p>
		 </ion-card-content>
		 
		 <!-- <ion-row>
			<ion-col style="text-align: center;">
				<ion-title style="text-align: center;">
					<h5 style="    overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;    color: black;
		">PRODUCT DETAILS</h5>
				</ion-title>
			</ion-col>
			</ion-row> -->
			
			<ion-row style="margin-left: 10px;" 
		no-padding > <ion-col>
			<ion-label>Order No :</ion-label> 
		</ion-col><ion-col style="margin:auto">

		<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
			{{productdet.order_no}}
		</span>
	 </ion-col> </ion-row>
	 <ion-row style="margin-left: 10px;" 
		no-padding > <ion-col>
			<ion-label> Product Name :</ion-label> 
		</ion-col><ion-col style="margin:auto">

		<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
			{{productdet.product_name}}
		</span>
	 </ion-col> </ion-row>
	 <ion-row style="margin-left: 10px;" 
		no-padding > <ion-col>
			<ion-label> Design Name :</ion-label> 
		</ion-col><ion-col style="margin:auto">

		<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
			{{productdet.design_name}}
		</span>
	 </ion-col> </ion-row>
		<ion-row style="margin-left: 10px;" 
		no-padding > <ion-col>
			<ion-label>Sub Design Name :</ion-label> 
		</ion-col><ion-col style="margin:auto">

		<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
			{{productdet.sub_design_name}}
		</span>
	 </ion-col> </ion-row>

	<ion-row style="margin-left: 10px;">
		<ion-col>
			<ion-label>Order Weight :</ion-label> 
		</ion-col>
		<ion-col style="margin: auto;">
			<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
				{{productdet.order_weight}} g
			</span>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="productdet.order_status == 'Delivered'" style="margin-left: 10px;">
		<ion-col>
			<ion-label>Delivered Weight :</ion-label> 
		</ion-col>
		<ion-col style="margin: auto;">
			<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
				{{productdet.delivered_weight}} g
			</span>
		</ion-col>
	</ion-row>
	<ion-row style="margin-left: 10px;">
		<ion-col>
			<ion-label>Pcs :</ion-label> 
		</ion-col>
		<ion-col style="margin: auto;">
			<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
				{{productdet.order_pcs}}
			</span>
		</ion-col>
	</ion-row>
	<ion-row  style="margin-left: 10px;">
		<ion-col>
			<ion-label>Order Date :</ion-label> 
		</ion-col>
		<ion-col style="margin: auto;">
			<span style="font-weight: bold;font-size: large;padding: 5px;border-radius: 8px;">
				{{productdet.order_date}}
			</span>
		</ion-col>
	</ion-row>
	<ion-row  style="margin-left: 10px;">
		<ion-col>
			<ion-label>Description :</ion-label> 
		</ion-col>
		<ion-col style="margin: auto;">
			<span style="font-weight: bold;font-size: small;padding: 5px;border-radius: 8px;">
				{{productdet.description}}
			</span>
		</ion-col>
	</ion-row>


	<ion-row no-padding style="border-top:1px solid lightgrey">
		<ion-col col-9 style="margin-top:10px;color:black;font-weight: initial;
		margin-left: 11px;" float-left>
			<!-- <span>
				Remarks : {{productdet.description}}
			</span> -->
		</ion-col>
		<ion-col >
				<a target="blank"  href="https://api.whatsapp.com/send?text=Order NO : {{productdet.order_no}}%0AProduct Name : {{productdet.product_name}}%0ADesign Name : {{productdet.design_name}}%0ASub Design Name : {{productdet.sub_design_name}}%0A Order Weight : {{productdet.order_weight}}g%0APcs : {{productdet.order_pcs}}%0A Status : {{productdet.order_status}}%0AOrder Date : {{productdet.order_date}}%0A">
					<button ion-fab color="secondary" float-right>
						<ion-icon name="logo-whatsapp"></ion-icon>
					</button>
				</a>
		</ion-col>
	</ion-row>
			
	</ion-card>



<div *ngIf="relationship == 'posts'">
    <div *ngIf="productdet1.length == 0 ">
        <p style="text-align: center !important; color: black;">You don't have any Payments</p>
    </div>


    <ion-card *ngFor="let s of productdet1">
        
       
        <ion-row>
            <ion-col col-7>

                <ion-row >
                    <ion-col col-5 style="font-weight:bold">
                        Bill No
                    </ion-col>
                    <ion-col col-7>
                        {{s['bill_no']}}
                    </ion-col>
                </ion-row>

            </ion-col>

            <ion-col col-5>

                <ion-row>
					<ion-col style="font-weight: bold;">Advance </ion-col>
                    <ion-col >
                            ₹ &nbsp; {{s['advance_amount']}}
                    </ion-col>
                </ion-row>

            </ion-col>
		</ion-row>
	<ion-row>

		<ion-col col-7>

			<ion-row >
				<ion-col col-5 style="font-weight:bold">
					Bill Date
				</ion-col>
				<ion-col col-7>
					{{s['bill_date']}}
				</ion-col>
			</ion-row>

		</ion-col>

            
                </ion-row>
           
    </ion-card>
</div>

</ion-content>