page-writeus {
    .scroll-content {
        bottom: 30px !important;
    }
    .searchbar-md .searchbar-input {
        background-color: white !important;
    }
    .searchbar-md {
        padding: 0px !important;
    }
}