<!--
  Generated template for the GiftpaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Buy Gift Card</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-row>
        <ion-col>
            Gift Card
        </ion-col>
        <ion-col style="text-align: right !important;">
            View Deatils
        </ion-col>
    </ion-row>

    <ion-item>

        <ion-input type="text" [(ngModel)]="amount" (ngModelChange)="check(amount)" placeholder="Enter Amount"></ion-input>
    </ion-item>

    <p style="margin: 2px !important;">Minimum 100 to 1000 Multiplies of 500</p><br>

    <ion-row>
        <ion-col style="font-weight: bold;background: white !important;">
            Proceed with :
        </ion-col>
    </ion-row>

    <ion-card (click)="tog(i,p)" *ngFor="let p of all;let i = index;">
        <ion-row>
            <ion-col col-9>

                <ion-row>
                    <ion-col style="font-weight: bold;">
                        {{p['pg_name']}}
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col>
                        {{ p['description'] }}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-3>

                <img style="margin-top: 2px !important;" src="{{p.pg_icon}}">
            </ion-col>
        </ion-row>
    </ion-card>

    <p *ngIf="status == true">
        <ion-card *ngFor="let s of scard" style="    padding: 10px !important;">
            <ion-label *ngIf="s.card_mode == 'CC'" style="color:red">{{s.issuingBank}} Credit Card</ion-label>
            <ion-label *ngIf="s.card_mode == 'DC'" style="color:red">{{s.issuingBank}} Debit Card</ion-label>

            <ion-label>{{s.name_on_card}}</ion-label>
            <ion-label>{{s.card_no}}</ion-label>

            <ion-row style="background: none !important;">
                <ion-col>
                    <img *ngIf="s.card_brand=='MASTERCARD'" style="max-width:40%" src="assets/mastercard.png" />
                    <img *ngIf="s.card_brand=='VISA'" style="max-width:40%" src="assets/visa.png" />
                    <img *ngIf="s.card_brand=='MAESTRO'" style="max-width:40%" src="assets/maestro.png" />
                    <img *ngIf="s.card_brand=='AMEX'" style="max-width:40%" src="assets/americanexpress.png" />
                    <img *ngIf="s.card_brand=='DINERS'" style="max-width:40%" src="assets/diners.png" />
                </ion-col>
                <ion-col>
                    <ion-input (tap)="smodel(s)" style="    border-bottom: 1px solid lightgray !important;" placeholder="Enter CVV" type="number"></ion-input>

                </ion-col>
            </ion-row>
        </ion-card>
    </p>
    <ion-row (click)="credit('Credit Card')" *ngIf="status == true">
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="ios-card"></ion-icon>
        </ion-col>
        <ion-col col-8>
            <ion-row>
                <ion-col style="font-weight: bold;">

                    Credit Card
                </ion-col>
            </ion-row>
            <ion-row>
                Master
            </ion-row>
        </ion-col>
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="arrow-forward"></ion-icon>

        </ion-col>
    </ion-row>
    <ion-row (click)="netbank()" *ngIf="status == true">
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="laptop"></ion-icon>
        </ion-col>
        <ion-col col-8>
            <ion-row>
                <ion-col style="font-weight: bold;">

                    Net Banking
                </ion-col>

            </ion-row>
            <ion-row>
                All Major Banks Are Supported
            </ion-row>
        </ion-col>
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="arrow-forward"></ion-icon>

        </ion-col>
    </ion-row>
    <ion-row (click)="credit('Debit Card')" style="margin-bottom:70px !important;" *ngIf="status == true">
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="ios-card"></ion-icon>
        </ion-col>
        <ion-col col-8>
            <ion-row>
                <ion-col style="font-weight: bold;">

                    Debit Card
                </ion-col>
            </ion-row>
            <ion-row>
                Master card
            </ion-row>
        </ion-col>
        <ion-col col-2>
            <ion-icon style="font-size: 2.0em !important; " name="arrow-forward"></ion-icon>

        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-row style="margin-bottom: 0px !important;background: #ffab08 !important">
        <ion-col (click)="pay()" col-12 padding>

            Pay &nbsp; <span style="color:black;white-space: initial;font-weight: bold;">{{amount}}</span>
            <ion-icon style="float: right;" name="information-circle"></ion-icon>
        </ion-col>
    </ion-row>
</ion-footer>