<!--
  Generated template for the ComplaindetastausPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Customer Complaint Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-row>
            <ion-col>
                Description :
            </ion-col>
            <ion-col>
                {{comdetail}}
            </ion-col>
        </ion-row>
    </ion-card>


    <ion-row style="background: #f39c35;color: white;margin: 5px;">
        <ion-col style="text-align: center;">
            Date
        </ion-col>
        <ion-col style="text-align: center;">
            Description
        </ion-col>
        <ion-col style="text-align: center;">
            Status
        </ion-col>
    </ion-row>
    <ion-row style="margin: 5px;" *ngFor="let c of cdetail">

        <ion-col style="text-align: center; color: black;">
            {{c.date_add}}
        </ion-col>
        <ion-col style="text-align: center; color: black;">
            {{c.enq_description}}
        </ion-col>
        <ion-col style="text-align: center;">
            <ion-badge [ngClass]="c['color'] == 'yellow' ? 'one':'' || c['color'] == 'blue' ? 'two':'' || c['color'] == 'green' ? 'three':'' ">{{c['status']}}</ion-badge>

        </ion-col>
    </ion-row>
    <ion-label *ngIf="cdetail.length == 0" style="text-align: center; color: black;">

        No Complaint Records
    </ion-label>


</ion-content>