page-customer-service {
    .heading {
        color: grey;
    }
    a {
        text-decoration: none;
        color: #666;
    }
    .scroll-content {
        bottom: 30px !important;
        margin-top: 55px !important;
        padding: 5px !important;
    }
}