<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
        <ion-title>Contact Us</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>


<!--     <ion-row>
        <ion-col style="text-align: center;">
            <ion-icon style="font-size: 2.4em !important;color:#b98840 !important" name="help-circle">
            </ion-icon>

        </ion-col>
    </ion-row>
    <h2 style="font-weight: bolder !important;text-align: center; color: black;">Contact Us </h2>
 -->

 <!--    <ion-card>
        <ion-card-header style="padding: 0px !important;">
            <ion-row>
                <ion-col col-2>
                    <img style="height: 20px !important;" src='assets/img/address.svg' />
                </ion-col>
                <ion-col col-10>
                    <h2 style="font-weight: bolder !important;">Address </h2>
                </ion-col>
            </ion-row>
        </ion-card-header>

        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-10>
                <ion-row *ngIf="details['address1'] !='' && details['address1'] !=null ">
                    <ion-col>
                        {{details['address1']}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="details['address2'] !='' && details['address2'] !=null ">
                    <ion-col>
                        {{details['address2']}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="details['city'] !='' && details['city'] !=null && details['pincode'] !='' && details['pincode'] !=null">
                    <ion-col>
                        {{details['city']}} - {{details['pincode']}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="details['state'] !='' && details['state'] !=null && details['country'] !='' && details['country'] !=null  ">
                    <ion-col>
                        {{details['state']}} . {{details['country']}}
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row (click)="viewmap($event)" *ngIf="details['map_url'] !='' && details['map_url'] !=null ">
            <ion-col col-2>
                <img style="height: 20px !important;" src='assets/img/location.svg' />
            </ion-col>
            <ion-col col-10>
                <h2 style="font-weight: bolder !important;">View Map </h2>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2>
                <img style="height: 20px !important;" src='assets/img/call_icon.svg' />
            </ion-col>
            <ion-col col-10>
                <h2 style="font-weight: bolder !important;">Call Now</h2>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col col-2 style="margin: auto;">
                
            </ion-col>
            <ion-col col-10>
              //  company: phone
                <ion-row *ngIf="details['phone'] != '' && details['phone'] != null ">
                    <ion-col>
                        <a *ngIf="details['phone'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{details['call_prefix']}}{{details['phone']}}">{{details['call_prefix']}}{{details['phone']}}</a>
                    </ion-col>
                </ion-row>
              //  company: customer care
                <ion-row *ngIf="details['phone1'] != '' && details['phone1'] != null ">
                    <ion-col>
                        <a *ngIf="details['phone1'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{details['call_prefix']}}{{details['phone1']}}">{{details['call_prefix']}}{{details['phone1']}}</a>
                    </ion-col>
                </ion-row>
               // company: mobile
                <ion-row *ngIf="details['mobile'] != '' && details['mobile'] != null ">
                    <ion-col>
                        <a *ngIf="details['mobile'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{details['call_prefix']}}{{details['mobile']}}">{{details['call_prefix']}}{{details['mobile']}}</a>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="details['mobile1'] != '' && details['mobile1'] != null ">
                    <ion-col>
                        <a *ngIf="details['mobile1'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{details['call_prefix']}}{{details['mobile1']}}">{{details['call_prefix']}}{{details['mobile1']}}</a>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-card>



    <ion-card *ngIf="details['whatsapp_no'] !='' && details['whatsapp_no'] !=null">
        <ion-card-header style="padding: 0px !important;">
            <ion-row>
                <ion-col col-2>
                    <img style="height: 22px !important;" src='assets/img/whatsapp.svg' />
                </ion-col>
                <ion-col col-10>
                    <h2 style="font-weight: bolder !important;">Whatsapp No </h2>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-row (click)="whatsapp()">
                <ion-col co-2></ion-col>
                <ion-col col-10>
                    <span *ngIf="details['whatsapp_no'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #387ef5 !important;" href="">{{details['call_prefix']}}{{details['whatsapp_no']}}</span><br>

                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="details['email'] !='' && details['email'] !=null">
        <ion-card-header style="padding: 0px !important;">
            <ion-row>
                <ion-col col-2>
                    <img style="height: 20px !important;" src='assets/img/email_icon.svg' />
                </ion-col>
                <ion-col col-10>
                    <h2 style="font-weight: bolder !important;">Email </h2>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-row (click)="email()">
                <ion-col co-2></ion-col>
                <ion-col col-10>
                    {{details['email']}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card> -->


    <ion-card *ngFor="let detail of details;let i=index">

<!--         <ion-card-header style="padding: 0px !important;">
            <ion-row>

                <ion-col col-5 *ngIf="i == 0">
                    <h2 style="font-weight: bolder !important;">Head Office </h2>
                </ion-col>
                <ion-col col-5 *ngIf="i != 0">
                    <h2 style="font-weight: bolder !important;">Branch Office </h2>
                </ion-col>
                <ion-col col-7></ion-col>
            </ion-row>
        </ion-card-header> -->
        <ion-card-header style="padding: 0px !important;">
            <ion-row>
                <ion-col col-2>
                    <img style="height: 20px !important;" src='assets/img/address.svg' />
                </ion-col>
                <ion-col col-10>
                    <h2 style="font-weight: bolder !important;"> {{detail['name']}} </h2>
                </ion-col>
            </ion-row>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col col-2 style="margin: auto;">
                    <img style="height: 20px !important;" src='assets/img/address.svg' />
                </ion-col>
                <ion-col col-10>
                    <ion-row *ngIf="detail['address1'] !='' && detail['address1'] !=null ">
                        <ion-col>
                            {{detail['address1']}}
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="detail['address2'] !='' && detail['address2'] !=null ">
                        <ion-col>
                            {{detail['address2']}}
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="detail['city'] !='' && detail['city'] !=null && detail['pincode'] !='' && detail['pincode'] !=null">
                        <ion-col>
                            {{detail['city']}} - {{detail['pincode']}}
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="detail['state'] !='' && detail['state'] !=null && detail['country'] !='' && detail['country'] !=null  ">
                        <ion-col>
                            {{detail['state']}} . {{detail['country']}}
                        </ion-col>
                    </ion-row>

                </ion-col>
            </ion-row>

            <ion-row (click)="viewmap(detail['map_url'])" *ngIf="detail['map_url'] !='' && detail['map_url'] !=null ">
                <ion-col col-2 style="margin: auto;">
                    <img style="height: 20px !important;" src='assets/img/location.svg' />
                </ion-col>
                <ion-col col-10>
                    <h2 style="font-weight: bolder !important;">View Map </h2>
                </ion-col>
            </ion-row>

<!--             <ion-row>
                <ion-col col-2 style="margin: auto;">
                    <img style="height: 20px !important;" src='assets/img/call_icon.svg' />
                </ion-col>
                <ion-col col-10 *ngIf="i == 0">
                    <ion-row *ngIf="detail['mobile'] != '' && detail['mobile'] != null ">
                        <ion-col>
                            <a *ngIf="detail['mobile'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['mobile']}}">{{detail['call_prefix']}}{{detail['mobile']}}</a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="detail['phone'] != '' && detail['phone'] != null ">
                        <ion-col>
                            <a *ngIf="detail['phone'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['phone']}}">{{detail['call_prefix']}}{{detail['phone']}}</a>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-10 *ngIf="i != 0">
                    <ion-row *ngIf="detail['mobile'] != '' && detail['mobile'] != null ">
                        <ion-col>
                            <a *ngIf="detail['mobile'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['mobile']}}">{{detail['call_prefix']}}{{detail['mobile']}}</a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="detail['phone'] != '' && detail['phone'] != null ">
                        <ion-col>
                            <a *ngIf="detail['phone'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['phone']}}">{{detail['call_prefix']}}{{detail['phone']}}</a>
                        </ion-col>
                    </ion-row>
                </ion-col>

            </ion-row> -->

            <ion-row>
                <ion-col col-2 style="margin: auto;">
                    <img style="height: 20px !important;" src='assets/img/call_icon.svg' />
                </ion-col>
                <ion-col col-10>
                  <!-- //  company: phone -->
                    <ion-row *ngIf="detail['phone'] != '' && detail['phone'] != null ">
                        <ion-col>
                            <a *ngIf="detail['phone'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['phone']}}">{{detail['call_prefix']}}{{detail['phone']}}</a>
                        </ion-col>
                    </ion-row>

                   <!-- // company: mobile -->
                    <ion-row *ngIf="detail['mobile'] != '' && detail['mobile'] != null ">
                        <ion-col>
                            <a *ngIf="detail['mobile'] != ''" style="text-align: justify !important;font-weight: bolder !important; color: #000 !important;" href="tel:{{detail['call_prefix']}}{{detail['mobile']}}">{{detail['call_prefix']}}{{detail['mobile']}}</a>
                        </ion-col>
                    </ion-row>
    
                </ion-col>
            </ion-row>

            <ion-row *ngIf="company_email !='' && company_email !=null">
                <ion-col col-2 style="margin: auto;">
                    <img style="height: 20px !important;" src='assets/img/email_icon.svg' />
                </ion-col>
                <ion-col col-10 (click)="email()">
                    {{company_email}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>




</ion-content>