<!--
  Generated template for the BluetoothPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-toolbar>
    <ion-row style="background: transparent !important;">
        <ion-col col-2>
            <ion-buttons start>
                <button (click)="goto()" style="background: transparent !important;color: black !important;font-size: 20px !important;">
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
            </ion-buttons>
        </ion-col> -->

       <!--  <ion-col col-10 style="margin: auto !important;">
            <ion-title>Bluetooth Devices</ion-title>
        </ion-col> -->

        <!-- <ion-col col-8 style="margin: auto !important;">
          <span style="font-weight: bold !important;text-transform: uppercase !important;font-size:initial !important;">Bluetooth Devices</span>
       </ion-col>
       <ion-col col-2 style="margin: auto !important;">
           <span style="font-weight: bold !important;text-transform: uppercase !important;font-size:initial !important;" end>V-{{app_version}}</span>
       </ion-col>

    </ion-row>
</ion-toolbar>

</ion-header> -->

<ion-header>
  <ion-toolbar>
      <ion-row>
          <ion-col>
              <button  (click)="goto()"
                  style="background: transparent !important;color: black !important;font-size: 20px !important;">
                  <ion-icon name="arrow-round-back"></ion-icon>
              </button>
          </ion-col>
          <ion-col style="margin: auto !important;margin-left: -10px !important;">
              <ion-title style="font-size: small !important;text-transform:none !important;" >Bluetooth Devices</ion-title>
          </ion-col>
          <ion-col style="text-align: end !important;">
              <span style="font-weight: bold !important;text-transform: uppercase !important;font-size:initial !important;
              color: black !important;"  end>V-{{app_version}}</span>
          </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col no-padding text-wrap col-12>
      <div class="theme-title-blk" > <ion-icon name="pricetags"></ion-icon> Bluetooth Devices  <ion-badge color="light" float-right></ion-badge></div>
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label style="color: black ;">{{i.name}}</ion-label>
          <ion-radio value="{{j}}" ></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4>
      <button ion-button  class="submit-button
      " (click)="listPairedDevices()">
        <ion-icon name="refresh"></ion-icon>&nbsp;Refresh </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button  class="submit-button
      " *ngIf="listToggle" (click)="selectDevice()">
        <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button  class="submit-button
      " (click)="sendData()">
        <ion-icon name="send"></ion-icon>&nbsp;Print
      </button>
    </ion-col>
  </ion-row>

  <!-- <ion-list>
    <ion-item>
      <ion-label floating>Type The Data You want to Send</ion-label>
      <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
    </ion-item>
  </ion-list> -->
  <!-- <button ion-button full class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Send Data Via Bluetooth
  </button> -->
</ion-content>
