page-coin-book-details {
    .one {
        background: yellow;
        color: black;
    }
    .two {
        background: blue;
        color: white;
    }
    .three {
        background: green;
        color: white;
    }
}