<ion-header>

    <ion-navbar>
        <ion-title>Coin Booking Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-row>

            <ion-col style="font-weight: bold;">
                Product Name
            </ion-col>
            <ion-col>
                {{product_name}}
            </ion-col>
            <ion-col style="font-weight: bold;">
                Coin Type
            </ion-col>
            <ion-col>
                {{coin_type}}
            </ion-col>
        </ion-row>


        <ion-row>

            <ion-col style="font-weight: bold;">
                Gram
            </ion-col>
            <ion-col>
                {{gram}}
            </ion-col>
            <ion-col style="font-weight: bold;">
                Quantity
            </ion-col>
            <ion-col>
                {{qty}}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-3 style="font-weight: bold;">
                Description
            </ion-col>
            <ion-col col-9>
                {{coindetail}}
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-row style="background: #0c0259;color: white;margin: 5px;">
        <ion-col style="text-align: center;">
            Date
        </ion-col>
        <ion-col style="text-align: center;">
            Description
        </ion-col>
        <ion-col style="text-align: center;">
            Status
        </ion-col>
    </ion-row>
    <ion-row style="margin: 5px;" *ngFor="let c of cdetail">

        <ion-col style="text-align: center;">
            {{c.date_add}}
        </ion-col>
        <ion-col style="text-align: center;">
            {{c.enq_description}}
        </ion-col>
        <ion-col style="text-align: center;">
            <ion-badge [ngClass]="c['color'] == 'yellow' ? 'one':'' || c['color'] == 'blue' ? 'two':'' || c['color'] == 'green' ? 'three':'' ">{{c['status']}}</ion-badge>

        </ion-col>
    </ion-row>
    <ion-label *ngIf="cdetail.length == 0" style="text-align: center;">

        No Records Found
    </ion-label>


</ion-content>