page-dthstatus {
    .scroll-content {
        bottom: 30px !important;
    }
    .one {
        background: yellow;
        color: black;
    }
    .two {
        background: blue;
        color: white;
    }
    .three {
        background: green;
        color: white;
    }
}