page-dashboard {
    ion-spinner svg{
        color:#D48D77 !important;
       }
       ion-icon{
          font-size: xx-large !important;
          color:#ffab08 !important;
      
      }
      .label-md{
         margin: 0px !important;
      }
     
     
}
