page-regexistscheme {
    .scroll-content {
        margin-top: 55px !important;
        bottom: 30px !important;
        padding: 15px !important;
    }
    .toolbar-title-md {
        padding: 0px !important;
    }
    .card-md {
        margin: 0px !important;
        width: -webkit-fill-available !important;
    }
    .item-md {
        padding-left: 0px !important;
    }
}