page-countrymodel {
    .searchbar-md .searchbar-input {
        background-color: #60340c !important;
        color: white !important;
    }
    .searchbar-md {
        padding: 0px !important;
    }
    .button-md{
      .button-inner{
        color: rgb(255, 255, 255) !important;
      }

    }
}
