page-enquiry {
    .scroll-content{
        bottom:30px !important;
        // padding: 5px !important;
    }
    ion-select{

        max-width: 100% !important;
        border: 1px solid lightgray !important;
        background: lightgray !important;
    }
    .item-md{
        padding: 0px !important;
        border: 1px solid lightgray !important;

    }
    .label-md{
        margin: 0px !important;
    }
   
}
