page-newarrivals {
    .scroll-content {
        bottom: 30px !important;
        margin-top: 55px !important;
    }
    .card-md {
        border: 1px solid lightgray;
        box-shadow: none !important;
    }
}