<!-- <ion-header *ngIf="type =='menu'">

      <ion-row>
          <ion-col col-8>
          </ion-col>
          <ion-col col-4>
              <button style="background:#b98840 !important;float:right;color: white;" (click)="close()" ion-button>Close</button>
          </ion-col>
      </ion-row>


</ion-header> -->

<ion-content padding text-center class="login-content loginbg">

  <ion-row end *ngIf="type =='menu'">
    <ion-col (click)="close()" style="font-size: 16px !important;">
      <button style="background:#b98840 !important;float:right;color: white;" ion-button>Close</button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>

      <img style="margin-top: 85px;width: 35%;" src='assets/img/IntroducingLogo.svg' />

    </ion-col>
  </ion-row>
  <br />

  <div class="login-box">

    <ion-row>
      <ion-col>
        <ion-list inset>
          <button ion-button block (click)="postoffline()" style="background:green ;"> SYNC ONLINE</button>
<!--           <button ion-button block [disabled]="type !='menu'" (click)="postoffline()" style="background:red ;"> POST OFFLINE</button>
 -->        </ion-list>
      </ion-col>
    </ion-row>

  </div>
  <ion-card padding>
    <ion-row style="font-weight: bold;">
      <ion-col col-10 style="text-align: left !important;font-weight: bold;">UNSYNCED COLLECTION DATA</ion-col>
      <ion-col col-2 style="margin: auto">{{syncDatalen}}</ion-col>
    </ion-row>
    <ion-row style="font-weight: bold;">
      <ion-col col-10 style="text-align: left !important;font-weight: bold;">UNSYNCED NEW CUSTOMER DATA</ion-col>
      <ion-col col-2 style="margin: auto">{{newcus}}</ion-col>
    </ion-row>
   
    
    <ion-row style="font-weight: bold;">
      <ion-col col-10 style="text-align: left !important;font-weight: bold;">SYNCED TOTAL COLLECTION</ion-col>
      <ion-col col-2 style="margin: auto">{{synctotal}}</ion-col>
    </ion-row>


    <ion-row text-center>
      <ion-col style="font-weight: bold;">{{syncTime}}</ion-col>
    </ion-row>
  </ion-card>



</ion-content>