<!--
  Generated template for the CollectionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>SUB CATEGORIES</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-row style="text-align: center;">
        <ion-col *ngIf="sub_category.length > 0">
            <h5 class="sch-title padding-vertical bottom-line"> SUB CATEGORIES</h5>
        </ion-col>
        <ion-col *ngIf="products.length > 0">
            <h5 class="sch-title padding-vertical bottom-line">SUB CATEGORIES</h5>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="sub_category.length > 0">
        <ion-col col-6 [ngClass]="animateClass" *ngFor=" let item of sub_category; let i=index "
            (click)="opensubCategories(item.id_category)" style="text-align: -webkit-center !important">
            <ion-card style="margin:0px;border: 1px solid #e4e4e4;border-radius:5px">
                <img class="full-image" *ngIf='item.image != null' src='{{item.image}}' imageCache />
                <img style="height: 118px;margin: 0 auto;" *ngIf='item.image == null' src='assets/images/no-img.png'
                    imageCache />

                <ion-row>
                    <ion-col
                        style="text-align: center;margin-top:7px;font-weight: bold;text-overflow: ellipsis;padding: 4%;font-size: 14px;overflow: hidden;color: black; white-space: nowrap; ">
                        {{item.category_name}}
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="products.length > 0">
        <ion-col col-6 [ngClass]="animateClass" *ngFor=" let item of products; let i=index "
            (click)="viewProduct(item.id_product)" style="text-align: -webkit-center !important">
            <ion-card style="margin:0px;border: 1px solid #e4e4e4;border-radius:5px">
                <img class="full-image" *ngIf='item.proimage != null' src='{{item.proimage}}' imageCache />
                <img style="height: 118px;margin: 0 auto;" *ngIf='item.proimage == null' src='assets/images/no-img.png'
                    imageCache />

                <ion-row>
                    <ion-col
                        style="text-align: center;margin-top:7px;font-weight: bold;text-overflow: ellipsis;padding: 4%;font-size: 14px;overflow: hidden;color: black; white-space: nowrap; ">
                        {{item.product_name}}
                    </ion-col>
                </ion-row>

            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="products.length == 0 " style="text-align: center;">
        <ion-col style="color: black;">
            <h4>{{errormsg}}</h4>
        </ion-col>
    </ion-row>

</ion-content>