<ion-header>
  <ion-navbar>
      <ion-row style="text-align: center !important;margin-right: 40px !important;">
          <ion-col col-9 style="margin: auto !important;">
              <ion-title style="font-size: small !important;text-transform:none !important;font-size: 14px !important;" >Customer Ledger</ion-title>
          </ion-col>
          <!-- (click)="paydue()" -->
          <ion-col col-3   >
            <!-- <button style="border: 3px solid white;" ion-button color='secondary'>Pay</button> -->
        </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngIf="isdata" style="margin-bottom: 50px !important;">

  <ion-row style="background-color: #f4f3f1 !important;padding-top: 20px !important;padding-bottom: 20px !important;" *ngIf="chit !='' && chit !=null">
    <ion-col col-8 style="margin:auto !important;">
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="chit['account_name'] != null && chit['account_name'] !=''">Account Name : {{chit['account_name']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="(chit['account_name'] == null || chit['account_name'] =='') && datacustomerledger['account_name'] != null && datacustomerledger['account_name'] !=''">Account Name : {{datacustomerledger['account_name']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="chit['chit_number'] !=null && chit['chit_number'] !=''" >Account Number : {{chit['chit_number']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="chit['mobile'] != null && chit['mobile'] !=''">Mobile No : {{chit['mobile']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="(chit['mobile'] == null || chit['mobile'] =='')&& datacustomerledger['mobile'] != null && datacustomerledger['mobile'] !=''">Mobile No : {{datacustomerledger['mobile']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;" *ngIf="chit['start_date'] != null && chit['start_date'] !=''">Join Date : {{chit['start_date']}}</ion-row>
    </ion-col>
    <ion-col col-4>
      <span *ngIf="showtime != 'Both' && showtime != 'both'">
      <ion-row style="justify-content: end !important;margin-right: 10px !important;" >
        <!-- [disabled]="monthlybtn" -->
        <button    (click)="showtimeswitch('Monthly')"  ion-button class="button" [ngClass]="showtime == 'Monthly' ? 'checkedtime':'uncheckedtime'">
          <!-- (click)="showtimeswitch('Monthly')" -->
          Monthly
        </button>
      </ion-row>
      <ion-row style="justify-content: end !important;margin-right: 10px !important;">
        <!-- [disabled]="dailybtn" -->
        <button    (click)="showtimeswitch('Daily')" ion-button class="button" [ngClass]="showtime == 'Daily' ? 'checkedtime':'uncheckedtime'">
          <!-- (click)="showtimeswitch('Daily')" -->
          Daily
        </button>
      </ion-row>
    </span>
    </ion-col>
  </ion-row>

  <ion-row style="background-color: #f4f3f1 !important;padding-top: 20px !important;padding-bottom: 20px !important;" *ngIf="chit =='' || chit ==null">
    <ion-col col-8 style="margin:auto !important;">
      <ion-row class="
      " style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;">Name : {{datacustomerledger['firstname']}}</ion-row>
      <ion-row class="
      " style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;">Mobile No : {{datacustomerledger['mobile']}}</ion-row>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>


  <span *ngIf="pge =='ledger'&& filter ==true && chit !='' && chit !=null">

    <ion-row style="text-align:start !important;justify-content: start !important;margin-top: 2px !important;margin-bottom: 2px !important;">
      <ion-col col-3 (click)="back('ledger')" >
        <ion-icon name="arrow-back"  style="margin-top: 1px !important;"></ion-icon> Back
      </ion-col>
    </ion-row>

  <ion-row style="border-bottom: 1px solid !important;margin-top: 5px !important;margin-bottom: 0px !important;padding-bottom: 5px !important;">
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">No.</ion-col>
    <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Emp.ID</ion-col> -->
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Date</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Amount(&#8377;)</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Weight(g)</ion-col>
  </ion-row>

  <span *ngIf="payments != null && payments != '' && payments.length > 0"  style="border-bottom: 1px solid !important;margin-top: 5px !important;margin-bottom: 0px !important;padding-bottom: 5px !important;">
    <!-- <ion-row *ngIf="p.account_type == showtime"> -->
      <ion-row *ngFor="let p of paymentsfilter ; let i=index">
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{i+1}}</ion-col>
      <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.empID}}</ion-col> -->
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.trans_date}}</ion-col>
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.amount}}</ion-col>
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.weight}}</ion-col>
    </ion-row>
  </span>
  <span>
    <ion-row *ngIf="paymentsfilter.length == 0">
      <ion-col  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">No Records Found</ion-col>
    </ion-row>
  </span>


  <ion-row *ngIf="paymentsfilter.length>0" >
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;"></ion-col>
    <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;"></ion-col> -->
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">Total</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">{{ttamt}}</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">{{ttwgt}}</ion-col>
  </ion-row>
</span>


<span *ngIf="pge =='ledger'&& filter ==false && chit !='' && chit !=null">

  <ion-row style="text-align:end !important;justify-content: end !important;margin-top: 5px !important;margin-bottom: 5px !important;">
    <ion-col col-3  (click)="filtersearch()"  style="display: flex !important;justify-content: flex-end !important;
    background: #b08016 !important;
    color: white !important;
    border-radius: 5px !important;">
      <div style="margin-right: 10px;">
        Filter
      </div>
      <div >
        <img style="width: 15px !important;margin-top: 1px !important;" src='assets/img/filter.svg' />
      </div>
      <!-- <ion-icon name="funnel" style="margin-top: 1px !important;"></ion-icon> -->
      <!-- <img style="width: 15px !important;" src='assets/img/filter.svg' /> -->
    </ion-col>
  </ion-row>


  <ion-row style="border-bottom: 1px solid !important;margin-top: 5px !important;margin-bottom: 0px !important;padding-bottom: 5px !important;">
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">No.</ion-col>
    <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Emp.ID</ion-col> -->
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Date</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Amount(&#8377;)</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">Weight</ion-col>
  </ion-row>

  <span *ngIf="payments != null && payments != '' && payments.length > 0"  style="border-bottom: 1px solid !important;margin-top: 5px !important;margin-bottom: 0px !important;padding-bottom: 5px !important;">
    <!-- <ion-row *ngIf="p.account_type == showtime"> -->
      <ion-row *ngFor="let p of payments ; let i=index">
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{i+1}}</ion-col>
      <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.empID}}</ion-col> -->
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.trans_date}}</ion-col>
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.amount}}</ion-col>
      <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">{{p.weight}}</ion-col>
    </ion-row>
  </span>
  <span>
    <ion-row *ngIf="valuesize.length == 0 ">
      <ion-col  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;">No Records Found</ion-col>
    </ion-row>
  </span>


  <ion-row *ngIf="payments.length>0 " >
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;"></ion-col>
    <!-- <ion-col col-2  style="text-align: center !important;font-size: 11px !important;font-weight: 600 !important;"></ion-col> -->
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">Total</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">{{ttamt}}</ion-col>
    <ion-col col-3  style="text-align: center !important;font-size: 11px !important;font-weight: bold !important;">{{ttwgt}}</ion-col>
  </ion-row>
</span>



<span *ngIf="pge =='search' && chit !='' && chit !=null">

  <ion-row style="text-align:start !important;justify-content: start !important;margin-top: 2px !important;margin-bottom: 2px !important;">
    <ion-col col-3 (click)="back('search')" >
      <ion-icon name="arrow-back"  style="margin-top: 1px !important;"></ion-icon> Back
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center !important; font-size: 12px !important;margin-top: 10px !important;margin-bottom: 10px !important;color: #60340c !important;" >
      Pick a Date Range
    </ion-col>
  </ion-row>
  <ion-row style="justify-content: space-evenly !important;">
    <span style="text-align: -webkit-center !important;border: 1px solid #60340c !important;border-radius: 10px !important;width: 130px !important;height: 45px;">
      <ion-row style="text-align: center;color: #e86e00 !important;font-size: 10px !important;justify-content: left !important;margin-left: 15px !important;margin-top: 5px;" >
        Start Date
      </ion-row>
      <ion-row>
        <ion-input style="font-size: 12px !important;background:white !important;color: #60340c !important;font-weight: 500;height: 0px !important;margin-top: -10px !important;margin-left: 7px !important;" readonly="true" class="ion_datetime"[(ngModel)]="fromdate" displayFormat="DD-MM-YYYY" placeholder="From date" (focusin)="fromdatefun()"></ion-input>
      </ion-row>
    </span>

    <span style="text-align: -webkit-center !important;border: 1px solid #60340c !important;border-radius: 10px !important;width: 130px !important;height: 45px;">
      <ion-row style="text-align: center;color: #e86e00 !important;font-size: 10px !important;justify-content: left !important;margin-left: 15px !important;margin-top: 5px;" >
        End Date
      </ion-row>
      <ion-row>
        <ion-input style="font-size: 12px !important;background:white !important;color: #60340c !important;font-weight: 500;height: 0px !important;margin-top: -10px !important;margin-left: 7px !important;" readonly="true" class="ion_datetime"[(ngModel)]="todate" displayFormat="DD-MM-YYYY" placeholder="To date" (focusin)="todatefun()"></ion-input>
      </ion-row>

  </span>
  </ion-row>
  <ion-row style="text-align: center !important; justify-content: center !important;margin-top: 25px !important;">
    <button  style="width: 200px !important;background-color: #b1812c !important;border-radius: 5px !important;" (click)="confirm()" ion-button>Confirm
    </button>
  </ion-row>
</span>
</span>

<span *ngIf="!isdata">
  <ion-row style="background-color: #f4f3f1 !important;padding-top: 20px !important;padding-bottom: 20px !important;">
    <ion-col col-8 style="margin:auto !important;">
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;">Name : {{datacustomerledger['firstname']}}</ion-row>
      <ion-row  style="font-weight: 600 !important;margin-left: 10px !important;margin-bottom: 5px !important;font-size: 12px !important;letter-spacing: .5px !important;">Mobile No : {{datacustomerledger['mobile']}}</ion-row>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
  <span>
    <ion-row>
      <ion-col  style="text-align: center !important;font-size: 12px !important;font-weight: 600 !important;">{{err}}</ion-col>
    </ion-row>
  </span>
</span>

</ion-content>
<ion-footer  *ngIf="pge =='ledger' &&  chit !='' && chit !=null" style="margin-bottom: 40px !important;border-top: 1px solid !important;padding-top: 10px !important;text-align: center !important;justify-content: center !important;background-color: white !important;">
  <ion-row  style="text-align: center !important;justify-content: center !important;font-size: 15px !important;font-weight: 600 !important;">
    <ion-col col-7 style="font-size: 15px !important;font-weight: 600 !important;">Total Amount : &#8377; {{chit['total_paid_amount']}}</ion-col>
    <ion-col col-5 style="font-size: 15px !important;font-weight: 600 !important;">Weight : {{chit['total_paid_weight']}}</ion-col>
  </ion-row>
</ion-footer>
