<!--
  Generated template for the RatefixdisclaimerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>

        <button style="background:transparent !important;float:right;color: black !important;" (click)="close()" ion-button>Ok</button>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <span *ngIf="page == 'myfixedrate'">

    <ion-card *ngIf="fixedrate['one_time_premium'] == 1 ">
        <ion-card-header style="text-align: center !important;">
            Disclaimer
        </ion-card-header>
        <ion-card-content>
            <h2>On fixing the Plan 2 Gold Rate</h2>
            <li>Customer has the option of fixing the gold rate at any time from the date of joining to date of maturity on the prevailing rate.</li>

            <li>Customers are advised to fix the Gold rate only through written communication /E-mail. Other modes of communication will not be considered for fixing the gold rate.</li>

            <li>Gold rate once fixed cannot be changed under any circumstance.</li>
            <li>In case the gold rate has not been fixed during the tenure of this scheme as per agreed terms, then the rate prevailing on the date of delivery would be applicable.</li>
        </ion-card-content>
    </ion-card> 
    </span>
    <span *ngIf="page == 'join'">
    <ion-card *ngIf="(chckcontent['flexible_sch_type'] == 1 || chckcontent['flexible_sch_type'] == 2) && chckcontent['one_time_premium'] == 0">
        <ion-card-header style="text-align: center !important;">
            Disclaimer
        </ion-card-header>
        <ion-card-content>
            <h2>On scheme joining &amp; EMA Payments &amp; all notification in Plan 1 Both cash &amp; grammage accumulation Benefit Eligibility:</h2>
            <li>Full benefits will be given only if EMA payments are paid continuously without default. In case of any default, NO VA benefit will come down up to 14% upper limit or at actual VA, whichever is lower. GST will be charged extra as per government
                norms
            </li>

        </ion-card-content>
    </ion-card>

</span>
</ion-content>