<ion-header>
    <ion-toolbar>
        <ion-row style="background: transparent !important;">
            <ion-col col-2>

                <button (click)="goBack($event)" style="background: transparent !important;color: black !important;font-size: 20px !important;">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>

            </ion-col>
            <ion-col col-10 style="margin: auto !important;">
                <ion-title>Existing Registration Requests</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <p style="text-align: center;color: black !important;" *ngIf="history.length == 0">No pending reuests found..</p>

    <ion-card *ngFor="let s of history">
        <ion-row>
            <ion-col style="font-weight:bold;">
                {{s['scheme_acc_number']}}

            </ion-col>
            <ion-col style="text-align: right !important;">
                <ion-badge [ngClass]="s['status'] == 'A/c Created' ? 'one':'' || s['status'] == 'processing' ? 'two':'' || s['status'] == 'Rejected' ? 'three':'' ">{{s['status']}}</ion-badge>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>


                <ion-row>
                    <ion-col style="font-weight:bold">
                        A/c Name
                    </ion-col>
                    <ion-col>
                        {{s['ac_name']}}
                    </ion-col>
                </ion-row>

            </ion-col>

            <ion-col col-6>

                <ion-row>
                    <ion-col style="font-weight:bold">
                        Req. On
                    </ion-col>
                    <ion-col>
                        {{s['date_add']}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="font-weight:bold">
                Remark
            </ion-col>
            <ion-col>
                {{s['remark']}}
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>