page-offer {
    .scroll-content {
        bottom: 30px !important;
        padding: 0px !important;
        margin-top: 55px !important;
    }
    .card-header-md {
        padding: 6px !important;
    }
}