<!-- <ion-header style="background-color: #ffffff !important;">
    <ion-navbar>
        <ion-row>
            <ion-col col-2 float-left style="max-width: 20.66667% !important;margin: auto !important;">
                <button ion-button menuToggle style="margin: 0px -5px !important;">
                    <ion-icon style="color: #B1812A !important;  text-align: center !important; height: 49px !important;width: 49px !important;max-width: 50px !important;padding: 5px !important;padding-left: 0px !important;" name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-8 style="text-align: center;right: 10px !important;">
                <img style="height:90px !important;width: 100% !important;" src='assets/img/header-final.svg' />
            </ion-col>

            <ion-col col-2 no-padding float-right style="margin: auto !important;top: 25px !important;">
                <img  (click)="logout()" style="height: 40px !important;width: 40px !important;" src='assets/dash_icon/power.svg' />
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header> -->

<ion-header style="background-color: #fff !important;">
  <ion-navbar>
      <ion-row>
          <ion-col col-2 float-left style="max-width: 20.66667% !important;margin: auto !important;">
              <button ion-button menuToggle style="margin: 0px -5px !important;">
                  <ion-icon style="color: black !important; text-align: center !important; height: 49px !important; width: 49px !important;max-width: 50px !important;padding: 5px !important;padding-left: 0px !important;" name="menu"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-8 style="text-align: center;">
              <img style="width: 100% !important;" src='assets/img/header-final.png' />
          </ion-col>

          <ion-col col-2 class="col-row1" no-padding float-right
          style="margin: auto !important;text-align: right !important;" >
          <!-- (click)="notification()" -->
          <!-- <ion-icon style="color:white !important;font-size:26px !important" name="notifications"></ion-icon> -->
      </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>



<ion-content>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- take data from component carousel. -->
  <!--   <carousel></carousel> -->
    <!-- <h6 style="text-align: center;margin-bottom: auto;font-weight: 400; color: #404041 !important;margin-top: 4rem !important;font-size: 16px !important;" class=" -->
    <!-- ">Today's Gold Rate : <span style="text-transform:uppercase !important;">{{datedata}}</span></h6> -->
    <!-- <ion-grid>
        <ion-row>
        </ion-row><br> -->

        <!-- <ion-row>

            <ion-col col-6 style="text-align: center !important ;font-weight: bold !important;">
               Gold Rate
            </ion-col>
            <ion-col col-6 style="text-align: center !important ;font-weight: bold !important;">
                Silver Rate
            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col col-6 style="text-align: center !important;font-weight: bold !important;">
                22k &nbsp; <span style="font-size:17px;">{{rates['goldrate_22ct']}}/gm</span>
            </ion-col>
            <ion-col col-6 style="text-align: center !important;font-weight: bold !important;">
                SILVER &nbsp; <span style="font-size:17px;">{{rates['silverrate_1gm']}}/gm</span>
            </ion-col>

        </ion-row> -->
        <!-- <ion-row padding>
            <ion-col col-6 style="text-align: center !important ;font-weight: bold !important;margin: auto !important;">
                <ion-row class="

                " style="justify-content: center !important;font-size: 18px !important;font-weight: 500 !important;color: #404041 !important;">
                    Gold Rate
                </ion-row>
                <ion-row class="

                " style="justify-content: center !important;font-size: 20px !important;font-weight: 500 !important;color: #404041 !important;">
                    22K&nbsp;-&nbsp;<span style="color:#fff !important;" class="

                    ">{{rates['goldrate_22ct']}}<span style="font-size: 13px !important;"  class="

                    ">/gm</span></span>
                </ion-row>
             </ion-col>
             <ion-col col-1>
                <ion-img style="height: 75px !important;background: none !important;" class="imgion" src="../../assets/img/line.svg"></ion-img>
             </ion-col>
             <ion-col col-5 style="text-align: center !important ;font-weight: bold !important;margin: auto !important;">
                <ion-row class="

                " style="justify-content: center !important;font-size: 18px !important;font-weight: 500 !important;color: #404041 !important;">
                    Silver Rate
                </ion-row>
                <ion-row style="justify-content: center !important;font-size: 20px !important;font-weight: 500 !important;">
                    <span style="color:#fff !important;" class="

                    ">{{rates['silverrate_1gm']}}<span style="font-size: 13px !important;" class="

                    ">/gm</span></span>
                </ion-row>
             </ion-col>
        </ion-row>

        <ion-row>
            <ion-col style="font-weight: bold;text-align: center !important;">
                <span>Last Updated</span><br><br>
                <span>{{rates['updatetime']}}</span>
            </ion-col>
        </ion-row> -->
    <!-- </ion-grid> -->



    <h6 style="text-align: center;margin-bottom: auto;font-weight: bold;">TODAY'S RATE</h6>
    <ion-grid>
        <ion-row>
        </ion-row><br>

        <ion-row>

            <ion-col col-6 style="text-align: center !important ;font-weight: bold !important;">
                1 GRM (22KT)
            </ion-col>
            <ion-col col-6 style="text-align: center !important ;font-weight: bold !important;">
                1 GRM
            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col col-6 style="text-align: center !important;font-weight: bold !important;">
                GOLD &nbsp; <span style="font-size:17px;">&#8377;{{rates['goldrate_22ct']}}</span>
            </ion-col>
            <ion-col col-6 style="text-align: center !important;font-weight: bold !important;">
                SILVER &nbsp; <span style="font-size:17px;">&#8377;{{rates['silverrate_1gm']}}</span>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col style="font-weight: bold;text-align: center !important;">
                <span>Last Updated</span><br><br>
                <span>{{rates['updatetime']}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>

    <span *ngIf="empName != '' && empName != undefined" style="color:black;text-align: center;">
        <h5 class=""><span style="font-weight: bolder;font-size: 15px !important; color: #404041 !important;" class="">
                {{empName['employee']['firstname']}} <span *ngIf="empName['employee']['login_type'] == 'EMP' && empName['employee']['emp_ref_code'] != '' && empName['employee']['emp_ref_code'] != null && empName['employee']['emp_ref_code'] != undefined"> - {{empName['employee']['emp_ref_code']}}</span> <span *ngIf="empName['employee']['login_type'] == 'AGENT' && empName['employee']['agent_code'] != '' && empName['employee']['agent_code'] != null && empName['employee']['agent_code'] != undefined"> - {{empName['employee']['agent_code']}} </span> <span *ngIf="empName['employee']['branch_name'] != '' && empName['employee']['branch_name'] != null && empName['employee']['branch_name'] != undefined"> - </span>{{empName['employee']['branch_name']}} </span> </h5>
    </span>

    <!-- <ion-row text-center>
        <ion-col>
            Enter customer mobile no. to make payment
        </ion-col>
    </ion-row> -->

    <ion-row>
        <ion-col col-1>
            <!-- <button (click)="send()" class="joinbtn" ion-button>Go</button> -->
        </ion-col>
        <ion-col col-10>
            <ion-item style="height: 40px !important;padding-right: 0px !important;border-radius: 40px !important;background-color: transparent !important;border: 1px solid #b26f07 !important;">
                <ion-input type="tel" [(ngModel)]="temp['mobile']" placeholder="Enter customer mobile number" class="" style="color:#b26f07 !important;"  minlength="10" maxlength="10"></ion-input>
                    <button (click)="send()" item-right style="margin: 0px 0px 0px 0px !important;background: #b26f07 !important;border-radius: 50px !important;width: 42px !important;height: 42px !important;padding: 0px !important;">
                        <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;color: #fff !important;font-size: 16px !important;" name="arrow-forward"></ion-icon>
                    </button>
            </ion-item>
        </ion-col>
        <ion-col col-1>
            <!-- <button (click)="send()" class="joinbtn" ion-button>Go</button> -->
        </ion-col>
    </ion-row>

    <ion-row text-center *ngIf="currency['currency']['searchbyaccno'] == 1 && checknet == 'online'">
        <ion-col col-4></ion-col>
        <ion-col col-3 style="font-weight: bold !important;" >
            OR
        </ion-col>
        <ion-col col-3></ion-col>
        <ion-col col-2></ion-col>
    </ion-row>

    <ion-row *ngIf="currency['currency']['searchbyaccno'] == 1 && checknet == 'online'">
        <ion-col col-4>
            <ion-row style="border: 1px solid #b26f07 !important;height: 50px !important; border-radius: 10px !important;">
                <ion-col>
                    <ion-select class="selectclass" placeholder="Sc.Code" [(ngModel)]="code" style="color:#b26f07 !important;">
                        <ion-option class=" " style="color:#b26f07 !important;" *ngFor="let scheme of schemes" [value]="scheme['code']">{{scheme['code']}}
                        </ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-3>
            <ion-row style="border: 1px solid #b26f07 !important;height: 50px !important;border-radius: 10px !important;">
                <ion-col>
                    <ion-select class="selectclass" style="color:#b26f07 !important;" placeholder="year" [(ngModel)]="selectedyear">
                        <ion-option class="" style="color:#b26f07 !important;" *ngFor="let year of schemeyear" [value]="year">{{year}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-3>

            <ion-row style="border: 1px solid #b26f07 !important;height: 50px !important;border-radius: 10px !important;color:#b26f07 !important;">
                <ion-col>
                    <ion-input type="tel" class="" style="color:#b26f07 !important;" [(ngModel)]="schaccno" placeholder="Ac no."></ion-input>
                </ion-col>
            </ion-row>

        </ion-col>
        <ion-col col-2 style="max-width: 100% !important;text-align: center !important;margin: auto !important;">
            <button (click)="go()" style="margin: 0px 0px 1px 0px !important;background: #b26f07 !important;border-radius: 50px !important;width: 42px !important;height: 42px !important;padding: 0px !important;" ion-button>
                <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;color: #fff !important;font-size: 16px !important;" name="arrow-forward"></ion-icon>
            </button>
        </ion-col>
    </ion-row>

    <ion-row style="text-align: center; padding-top: 15px;justify-content: center !important;" padding>

        <ion-col col-4 [ngClass]="animateClass" (click)="registration()">
            <div class="homeborder">
                <div style='text-align: center;margin-bottom: -8px !important;'>
                    <img style="width: 50px;height: 50px;margin: auto;" src='assets/dash_icon/useradd.svg' />
                </div><br>
                <div class="" style="margin-top: -7px !important;">
                    <span style="color: #404041 !important;">Customer Registration</span>
                </div>
            </div>
        </ion-col>

        <ion-col col-4 [ngClass]="animateClass" (click)="gotypesc()">
            <div class="homeborder">
                <div style='text-align: center;margin-bottom: -8px !important;'>
                    <img style="width: 50px;height: 50px;margin: auto;" src='assets/dash_icon/planadd.svg' />
                </div><br>
                <div class="" style="margin-top: -7px !important;">
                    <span style="color: #404041 !important;">Join New</span>
                </div>
            </div>
        </ion-col>

        <ion-col col-4 [ngClass]="animateClass" (click)="empreport()">
            <div class="homeborder">
                <div style='text-align: center;margin-bottom: -8px !important;'>
                    <img style="width: 50px;height: 50px;margin: auto;" src='assets/dash_icon/reports.svg' />
                </div><br>
                <div class="" style="margin-top: -7px !important;">
                    <span style="color: #404041 !important;">My Reports</span>
                </div>
            </div>
        </ion-col>


        <ion-col col-4 [ngClass]="animateClass" (click)="cusLedger()" *ngIf="currency['currency']['cuslegder'] == 1"  > <!--  -->
            <div class="homeborder">
                <div style='text-align: center;margin-bottom: -8px !important;'>
                    <img style="width: 50px;height: 50px;margin: auto;" src='assets/dash_icon/reports.svg' />
                </div><br>
                <div class="" style="margin-top: -7px !important;">
                    <span style="color: #404041 !important;">Customer Ledger</span>
                </div>
            </div>
        </ion-col>

        <ion-col col-4 [ngClass]="animateClass" (click)="tdycltion()" *ngIf="currency['currency']['todaycollection'] == 1"> <!--  -->
          <div class="homeborder">
              <div style='text-align: center;margin-bottom: -8px !important;'>
                  <img style="width: 50px;height: 50px;margin: auto;" src='assets/dash_icon/reports.svg' />
              </div><br>
              <div class="" style="margin-top: -7px !important;">
                  <span style="color: #404041 !important;">Today's Collection</span>
              </div>
          </div>
      </ion-col>


    </ion-row>
<!--
    <ion-row style="text-align: center;">

    </ion-row> -->


</ion-content>
