page-newarrivaldetail {
    .scroll-content {
        margin-top: 55px !important;
        bottom: 30px !important;
        padding: 5px !important;
    }
    .card-header-md {
        padding: 0px !important;
    }
}