<!--
  Generated template for the PledgecalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Pledge</ion-title>
    </ion-navbar>
    <ion-segment [ngModel]="seg" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="p">
            Pledge
        </ion-segment-button>
        <ion-segment-button value="e">
            EL
        </ion-segment-button>
        <ion-segment-button value="c">
            Compound
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content padding>
    <div style="display: flex;">

        <ion-label style="margin: auto !important;">
            From
        </ion-label>
        <ion-item>
            <ion-input readonly="true" class="ion_datetime" name="fromdate" [(ngModel)]="fromdat" placeholder="MM/DD/YYYY" displayFormat="DD-MM-YYYY" (tap)="fromDate()"></ion-input>
        </ion-item>
    </div>
    <div style="display: flex;">

        <ion-label style="margin: auto !important;">
            To
        </ion-label>
        <ion-item>
            <ion-input class="ion_datetime" name="todate" [(ngModel)]="todat" placeholder="MM/DD/YYYY" displayFormat="DD-MM-YYYY" (tap)="toDate()"></ion-input>
        </ion-item>
    </div>
    <div style="display: flex;">

        <ion-label style="margin: auto !important;">
            Amount
        </ion-label>
        <ion-item style="    margin-right: 3px;">
            <ion-input type="number" [(ngModel)]="amount" (ngModelChange)="paisa(amount)"></ion-input>
        </ion-item>
    </div>
    <div style="display: flex;">

        <ion-label style="margin: auto !important;">
            Rate Of Interest %
        </ion-label>
        <ion-item>
            <ion-input type="number" [(ngModel)]="interest_rate" (ngModelChange)="Interest(interest_rate)"></ion-input>
        </ion-item>
    </div>
    <div style="display: flex;">

        <ion-label style="margin: auto !important;">
            Notice
        </ion-label>
        <ion-item>
            <ion-input type="number" [(ngModel)]="notice" (ngModelChange)="noticee(notice)"></ion-input>
        </ion-item>
    </div>
    <div style="margin-top: 15px;" *ngIf="amount != '' && interest_rate != '' ">
        <div style="text-align: center;font-weight: bold;">
            <h5>
                Interest Amount
            </h5>
        </div>
        <ion-row style="    border: 1px solid gray;">

            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Year
            </ion-col>
            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Month
            </ion-col>
            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Day
            </ion-col>
        </ion-row>
        <ion-row style="    border: 1px solid gray;">

            <ion-col col-4 style="text-align: center;">
                {{age['years']}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                {{age['months']}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                {{age['days']}}
            </ion-col>
        </ion-row>

        <ion-row style="    border: 1px solid gray;border-bottom: 2px solid gray;">

            <ion-col col-4 style="text-align: center;">
                &#8377;{{yint}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                &#8377;{{mint}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                &#8377;{{dint}}
            </ion-col>
        </ion-row>
        <div style="text-align: center;font-weight: bold;margin-top: 15px;">
            <h5>
                Total Amount
            </h5>
        </div>
        <ion-row style="    border: 1px solid gray;">

            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Year
            </ion-col>
            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Month
            </ion-col>
            <ion-col col-4 style="font-weight: bold;text-align: center;">
                Day
            </ion-col>
        </ion-row>

        <ion-row style="    border: 1px solid gray;border-bottom: 2px solid gray;">

            <ion-col col-4 style="text-align: center;">
                &#8377;{{tyint}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                &#8377;{{tmint}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
                &#8377;{{tdint}}
            </ion-col>
        </ion-row>

    </div>
    <ion-row style="border: none !important;">
        <ion-col style="text-align: -webkit-center !important;">
            <button (click)="goto()" style="background: #0c0259 !important;
            color: white; border: 1px solid #0c0259 !important;width: 40% !important;border-radius: 12px !important;" ion-button class="button-login" block color="dark">
                Estimation</button>
        </ion-col>
    </ion-row>
    <!-- <div style="display: flex;">

    <ion-label style="margin: auto !important;">
        Total Interest
    </ion-label>
    <ion-item style="    margin-right: 3px;">
        <ion-input type="number" [(ngModel)]="total_interest" readonly></ion-input>
    </ion-item>
    </div>
   
  
    <br>


    <ion-row  *ngIf="total_interest !='NaN' && total_amount !='NaN'">
        <ion-col style="font-size: large !important;font-weight: bold;margin: auto;">
            Total Amount
        </ion-col>
        <ion-col style="font-size: x-large !important">
            {{total_amount}}
        </ion-col>
    </ion-row> -->

    <!-- <ion-row *ngIf="errmsg != ''" text-center>
        <ion-col style="color: red !important; font-weight: bold;text-align: center;">
            {{errmsg}}
        </ion-col>
    </ion-row> -->
    <ion-fab *ngIf="amount != '' && interest_rate != '' " bottom right #fab>
        <button (click)="whatsapp()" ion-fab><ion-icon style="color: #4FCE5D !important;" name="logo-whatsapp"></ion-icon></button>
    </ion-fab>
</ion-content>