
<!-- <ion-header>
  <ion-navbar>

      <ion-row style=" border: none !important; margin: auto !important;">
          <ion-col style="margin: auto !important;margin-left: -10px !important;">
              <ion-title style="font-size: small !important;text-transform:none !important;" >Customer Ledger</ion-title>
          </ion-col>
      </ion-row>

  </ion-navbar>
</ion-header> -->



<ion-header>
  <ion-navbar>

      <ion-row>
          <ion-col style="margin: auto !important;margin-left: -10px !important;">
              <ion-title style="font-size: small !important;text-transform:none !important;" >Customer Ledger</ion-title>
          </ion-col>
          <ion-col style="text-align: end !important;">
              <img style="width: 40px !important;" (click)="metal()" src='assets/img/goldbarline.svg' />
          </ion-col>
      </ion-row>

  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list style="border: 1px solid #60340c !important;color:#60340c !important;border-radius: 10px !important;">
    <ion-item style="background-color: #f8f6f7 !important;border-radius: 10px !important;" (click)="newscheme()">
      <!-- <ion-thumbnail item-start>
        <img style="width: 65px !important;height: 65px !important;" src="assets/img/no-img.png">
      </ion-thumbnail> -->

      <h2 class="

      " style="text-transform: capitalize !important;color:#60340c  !important;text-align: center !important;font-weight: 600 !important;font-size: 16px !important;"><ion-icon style="color: #60340c !important;font-size: 15px !important;margin: 0px !important;" name="add" item-start></ion-icon> Add New Savings Scheme</h2>
      <!-- <p>Mobile No : 9488577633</p> -->
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-searchbar #mySearchbar (ionChange)="search()" [(ngModel)]="input" (ionBlur)="removeFocus()" placeholder="Search By Mobile or Name"  (click)="search()">
    </ion-searchbar>
  </ion-row>
  <ion-list style="background-color: #f8f6f7 !important;"  *ngFor="let l of searchdata; let i=index">
    <ion-item style="background-color: #f8f6f7 !important;" (click)="cusprofile(l,i)">
      <h2 class="
      ">{{l.firstname}} {{l.lastname}}</h2>
      <p class="

      " *ngIf="l.is_acc_avail == 1 && l.scheme_acc_no !='' && l.scheme_acc_no !=null">Account No : {{l.scheme_acc_no}}</p>
      <p class="

      ">Mobile No : {{l.mobile}}</p>
      <button ion-button clear item-end class="

      ">View</button>
    </ion-item>

    <!-- <ion-item style="background-color: #f8f6f7 !important;"(click)="cusprofile()">

      <h2 class="NotoSerif-Bold">Krishna</h2>
      <p>Mobile No : 9488577633</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item style="background-color: #f8f6f7 !important;" (click)="cusprofile()">

      <h2 class="NotoSerif-Bold">Krishna</h2>
      <p>Mobile No : 9488577633</p>
      <button ion-button clear item-end>View</button>
    </ion-item> -->



  </ion-list>

</ion-content>
