<ion-menu [content]="content">
	<ion-header style="background: #fff  !important;">
		<div style="height:60px !important;margin-top: 5px !important;text-align: center !important;margin-bottom: 12px !important;">
			<img  src='assets/img/header-final.png' />
		</div>
		<ion-row>
			<ion-col style="margin-left: 65px !important;font-family: monospace !important;color: black !important;">
				<span>Current Version (V{{app_ver}})</span>
			</ion-col>
		</ion-row>
	</ion-header>
	<!-- 	</ion-header>
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title align="center"> {{companyName}}</ion-title>
		</ion-toolbar>
	</ion-header> -->

	<ion-content>
		<ion-list>
			<button style="background-color: transparent;" menuClose ion-item (click)="login()" *ngIf="!loginstatus">

				<img item-left style="margin-left: 10px !important;margin-right: 13% !important;" class="side-img"
					src='assets/side_menu/loginn.svg' />

				<!-- <ion-icon item-left class="side-img" name="log-in"></ion-icon> -->

				<h6>Sign in / Sign up</h6>
			</button>

			<button style="background-color: transparent;border-bottom: none !important;" menuClose ion-item
				(click)="openHome()" *ngIf="loginstatus">
				<!-- <ion-icon item-left class="side-img" name="home"></ion-icon> -->
				<img item-left class="side-img" src='assets/side_menu/homee.svg' />
				<h6> Home</h6>
			</button>
<!-- 			<button style="background-color: transparent;border-bottom: none !important;" menuClose ion-item
				(click)="scheme()" *ngIf="loginstatus">

			<img item-left class="side-img" style="    border: 2px solid #008ed3c4;border-radius: 50%;"
					src='assets/side_menu/add.svg' />


				<h6> Join Saving Scheme</h6>
			</button> -->
			<button style="background-color: transparent;border-bottom: none !important;" menuClose ion-item
				(click)="register()" *ngIf="loginstatus">

				<!-- <ion-icon item-left class="side-img" name="person-add"></ion-icon> -->
				<img item-left class="side-img" style="    border: 2px solid #60340c;border-radius: 50%;"
					src='assets/side_menu/personadd.svg' />


				<h6>Create Customer</h6>
			</button>

			<!-- <button style="background-color: transparent;border-bottom: none !important;" menuClose ion-item
				(click)="sync('menu')" *ngIf="loginstatus">
				<img item-left class="side-img" style="    border: 2px solid #008ed3c4;border-radius: 50%;"
					src='assets/side_menu/personadd.svg' />
				<h6>Go to Sync</h6>
			</button> -->

			<button style="background-color: transparent;border-bottom: none !important;" menuClose ion-item
				(click)="logout()" *ngIf="loginstatus">
				<!-- <ion-icon class="side-img" item-left name="log-out"></ion-icon> -->
				<img item-left style="margin-left: 10px !important;margin-right: 13% !important;" class="side-img"
					src='assets/side_menu/logoutt.svg' />
				<h6> (Sign Out)</h6>
			</button>


		</ion-list>
	</ion-content>
</ion-menu>

<div class="my-overlay" padding [hidden]="overlayHidden">
	<br />
	<h3>You are Offline.</h3><br />
	<h4>Turn on Wi-Fi or mobile data.</h4>
</div>
<ion-nav #content [root]="rootPage"></ion-nav>

<ion-footer *ngIf="foot == true" style="background: #88344c !important">
	<ion-row>
		<ion-col col-10 style="font-weight: bold;color:#fff; margin: auto;font-size: 10px !important;">
			&#169; {{companyName}} - (V{{app_ver}})
		</ion-col>
		<ion-col col-2>
			<img src='assets/logimax.png'>
		</ion-col>
	</ion-row>
</ion-footer>

<!-- <ion-footer *ngIf="foot != true && page !=false" style="background: #60340c !important">
	<ion-row>
		<ion-col col-10 style="font-weight: bold;color:#fff; margin: auto;font-size: 10px !important;" class="NotoSerif-Regular">
			&#169; {{companyName}} - (V{{app_version}})
		</ion-col>
		<ion-col col-2>
			<img src='assets/logimax.png'>
		</ion-col>
	</ion-row>
</ion-footer> -->
