<!--
  Generated template for the JoinschemePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>

        <ion-row>
            <ion-col style="margin: auto !important;margin-left: -10px !important;">
                <ion-title style="font-size: small !important;text-transform:none !important;" >Join Savings Scheme</ion-title>
            </ion-col>
            <ion-col style="text-align: end !important;">
               <!--  <img style="width: 40px !important;" (click)="metal()" src='assets/img/goldbarline.svg' /> -->
            </ion-col>
        </ion-row>

    </ion-navbar>
</ion-header>

<ion-content>

<!--     <ion-row style="text-align: center !important;" *ngIf="join.length>0 && desc == '' ">
        <ion-col>
            <p *ngIf="classimage['logo'] == '' || classimage['logo'] == null"
                style="font-size: 15px !important; word-wrap: break-word !important; color: black;">
                {{classimage['classification_name']}}</p>
            <img class="" *ngIf="classimage['logo'] != '' && classimage['logo'] != null" style="width: 50% !important;"
                src="{{classimage['logo']}}" />

        </ion-col>
    </ion-row> -->

<!--     <ion-card *ngIf="desc != ''">
        <ion-row *ngIf="join.length>0">
            <ion-col>
                <p *ngIf="classimage['logo'] == '' || classimage['logo'] == null"
                    style="font-size: 15px !important; word-wrap: break-word !important;">
                    {{classimage['classification_name']}}</p>
                <img class="" *ngIf="classimage['logo'] != '' && classimage['logo'] != null"
                    style="width: 50% !important;text-align: center !important;margin: auto !important;"
                    src="{{classimage['logo']}}" />
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col (click)="tog()" col-10 style="color: #69090a !important; font-size: medium !important">
                Terms & Conditions
            </ion-col>
            <ion-col col-2 text-center>
                <ion-icon (click)="tog()" *ngIf="toggle" name="arrow-dropdown"></ion-icon>
                <ion-icon (click)="tog()" *ngIf="!toggle" name="arrow-dropup"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-card-content *ngIf="!toggle ">
            <span class="termsfont" *ngIf="desc != ''" [innerHTML]="desc"></span>
        </ion-card-content>
    </ion-card> -->

    <ion-card *ngFor="let j of join let i=index" [@flyAlternameSlow]="i%2">

        <ion-row text-center>
            <ion-col>
                <h2 style="color: #60340c !important;" class="

                ">{{j['cls_name']}}</h2>
            </ion-col>
        </ion-row>

        <ion-row> <!-- *ngIf="j['is_enquiry'] == 0" -->
            <ion-col>
                <h4 style="color: #60340c !important;" class="

                ">{{j['scheme_name']}}</h4>
            </ion-col>
        </ion-row>

<!--         <ion-row *ngIf="j['is_enquiry'] == 1">
            <ion-col>
                <h2 style="color: #60340c !important;font-size: 22px !important;"class="

                ">{{j['scheme_name']}}</h2>
            </ion-col>

            <ion-col style="text-align: right !important;">
                <button (click)="classipopup(j)" class="joinbtn" ion-button>Enquiry</button>
            </ion-col>

        </ion-row> -->

        <ion-row> <!-- *ngIf="j['is_enquiry'] == 0" -->

            <ion-col col-6 class="

            ">
                Duration
            </ion-col>
            <ion-col col-6 style="text-align: center !important;" class="

            ">
                {{j['total_installments']}} months
            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col col-6 class="

            "
                *ngIf="( j['scheme_type'] == 0 || j['scheme_type'] == 2 || j['scheme_type'] == 3 )  && currency != ''">
                <!-- Monthly Advance -->
                {{j['advance_type']}}
            </ion-col>
            <ion-col col-6 class="

            "
                *ngIf="( j['scheme_type'] == 0 || j['scheme_type'] == 2 )  && currency != ''"
                style="text-align: center !important;">
                <span [innerHTML]="currency.currency.curr_symb_html"></span> {{j['amount']}}
            </ion-col>
            <ion-col col-5 class="

            "
                *ngIf="j['scheme_type'] == 3  && (j['flexible_sch_type']== 1 || j['flexible_sch_type']== 2 || j['flexible_sch_type']== 6 )"
                style="text-align: center !important;">
                Min <span [innerHTML]="currency.currency.curr_symb_html"></span> {{j['min_amount']}}
            </ion-col>

            <ion-col col-5 class="

            "
                *ngIf="j['scheme_type'] == 3  && (j['flexible_sch_type']== 3 || j['flexible_sch_type']== 4 || j['flexible_sch_type']== 7 )"
                style="text-align: center !important;">
                Min {{j['min_weight']}} g
            </ion-col>


            <!-- weight scheme -->
            <ion-col col-6 *ngIf="j['scheme_type'] == 1 && ( j['type'] == 1 || j['type'] == 0 )" class="

            ">
                <!-- Monthly Advance -->
                {{j['advance_type']}}
            </ion-col>

            <ion-col col-6 *ngIf="j['scheme_type'] == 1 && j['type'] == 1" style="text-align: center !important;" class="

            ">
                {{j['max_weight']}} g
            </ion-col>
            <ion-col col-6 *ngIf="j['scheme_type'] == 1 && j['type'] == 0" style="text-align: center !important;" class="

            ">
                max {{j['max_weight']}} g / month
            </ion-col>

            <!-- One Time Premium  -->
            <ion-col col-6 class="

            "
                *ngIf="j['scheme_type'] == 3 && j['one_time_premium'] == 1 && currency != '' && (j['min_amount'] >0 || j['min_weight'] > 0) ">
                One Time Premium
            </ion-col>
            <ion-col col-6 class="

            "
                *ngIf="j['one_time_premium'] == 1 && (j['min_amount'] >0 || j['min_weight'] > 0) && currency != ''"
                style="text-align: center !important;">
                <span *ngIf="j['flexible_sch_type'] == 1 || j['flexible_sch_type'] == 5">
                    Min. {{currency['currency']['currency_symbol']}} {{j['min_amount']}}
                </span>
                <span *ngIf="j['flexible_sch_type'] == 4">
                    Min. {{j['min_weight']}} g
                </span>
            </ion-col>

        </ion-row>


        <ion-row *ngIf="j['one_time_premium'] != 1" class="

        ">
            <ion-col style="text-align: center !important;">
                <button (click)="conf(j)" class="joinbtn" ion-button>Join</button>
            </ion-col>

        </ion-row>

    </ion-card>

</ion-content>
