<!--
  Generated template for the ProductdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>PRODUCT DETAIL</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card style="border-bottom: 1px solid lightgray;">
        <img src="{{productdetail.proimage}}" imageViewer="{{productdetail.proimage}}" class="productdetail">
        <img style="margin: 0 auto;" *ngIf='productdetail.proimage == null' src='assets/no-img.png' imageCache/>
    </ion-card>

    <ion-row style="text-align: center;">
        <ion-col style="color: black !important;">
            <h4>{{productdetail.product_name}}</h4>
            <h5>Product code : {{productdetail.code}}</h5>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col><span><b>Weight</b></span></ion-col>
                <ion-col><span> {{productdetail.weight}}</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col><span><b>Purity</b></span></ion-col>
                <ion-col><span> {{productdetail.purity}}</span></ion-col>
            </ion-row>
            <ion-row *ngIf="productdetail.size !=null">
                <ion-col><span><b>Size</b></span></ion-col>
                <ion-col><span> {{productdetail.size}}</span></ion-col>
            </ion-row>
            <ion-row *ngIf="productdetail.price !=null">
                <ion-col><span><b>Price</b></span></ion-col>
                <ion-col><span> {{productdetail.price}}</span></ion-col>
            </ion-row>
            <ion-row *ngIf="productdetail.type !=type">
                <ion-col><span><b>Type</b></span></ion-col>
                <ion-col><span> {{productdetail.type}} </span></ion-col>
            </ion-row>
            <ion-row *ngIf="productdetail.description !=''">
                <ion-col><span><b>Description</b></span></ion-col>
                <ion-col><span> {{productdetail.description}} </span></ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>

</ion-content>

<ion-footer style="background: transparent !important;">
    <ion-row>
        <ion-col col-4 style="background: #b98840 !important;font-weight: bold;color:white;text-align: center !important;margin: auto;" (click)="call($event)">
            <img src='assets/product/call.svg' style="width: 50px !important;height:50px !important;text-align: center !important;">
        </ion-col>

        <ion-col col-4 style="background: #b98840 !important;font-weight: bold;color:white;text-align: center !important;margin: auto;" (click)="enquiry(productdetail.product_name)">
            <img src='assets/product/enquiry.svg' style="width: 50px !important;height:50px !important;text-align: center !important;">
        </ion-col>
        <ion-col col-4 style="background: #b98840 !important;font-weight: bold;color:white;text-align: center !important;margin: auto;" (click)="presentConfirm(productdetail.product_name,productdetail.code)">
            <img src='assets/product/whatsapp.svg' style="width: 50px !important;height:50px !important;text-align: center !important;">
        </ion-col>


    </ion-row>
</ion-footer>