page-netbank {

    .scroll-content{
        bottom:30px !important;
        padding: 0px !important;
    }
    .one{

        color: red !important;
    }
    .two{

        color: black !important;
    }
}
