<!-- <ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header> -->
<ion-content text-center padding>
  <ion-row text-center style="border: none !important;margin-bottom: 40px !important;">
    <ion-col class="

    " style="font-size:initial !important;color: #2c2e6b !important;text-transform: uppercase !important;">Change Password</ion-col>
   <!--  <ion-title class="NotoSerif-Italic">Change Password</ion-title> -->
  </ion-row>
    <ion-row style="border: none !important;">
        <ion-col style="text-align: -webkit-center !important;">
            <img style="height: 100px !important;margin-top: 5% !important;margin-bottom: 10px !important;" src='assets/img/IntroducingLogo.svg' />
        </ion-col>
    </ion-row>

    <ion-item style="border: 0.5px solid #60340c !important;border-radius: 10vw !important;">
      <ion-input class="

      " clearOnEdit ="false" placeholder="Password" [formControl]="passwd" type="{{typechecknew}}"></ion-input>
      <button *ngIf="!showPassnew" ion-button clear color="dark" type="button" style="height: 30px !important;padding:0 !important;font-size:2em !important;" item-right (click)="shownewPassword()">
          <!-- <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;"  name="ios-eye-off-outline"></ion-icon> -->
          <img style="height: 30px !important;width: 30px !important;" src='assets/img/eyeoff.svg' />
          <!-- <ion-img src="../../assets/img/eyeoff.svg"></ion-img> -->
      </button>
      <button *ngIf="showPassnew" ion-button clear color="dark" type="button" style="height: 30px !important;padding:0 !important;font-size:2em !important;" item-right (click)="shownewPassword()">
          <!-- <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;" name="ios-eye-outline"></ion-icon> -->
          <img style="height: 30px !important;width: 30px !important;" src='assets/img/eyeon.svg' />
          <!-- <ion-img src="../../assets/img/eyeon.svg"></ion-img> -->
      </button>

  </ion-item>



    <!-- <ion-item>
        <ion-input placeholder="Password" [formControl]="passwd" type="{{typechecknew}}" clearOnEdit="false"></ion-input>
        <button *ngIf="!showPassnew" ion-button clear color="dark" type="button" item-right (click)="shownewPassword()"> <ion-icon style="background:none !important;"  name="eye-off"></ion-icon>
        </button>
        <button *ngIf="showPassnew" ion-button clear color="dark" type="button" item-right (click)="shownewPassword()">  <ion-icon style="background:none !important;" name="eye"></ion-icon>
        </button>
    </ion-item> -->

    <ion-item style="border: 0.5px solid #60340c !important;border-radius: 10vw !important;">
      <ion-input class="

      " clearOnEdit ="false" placeholder="Confirm Password" [formControl]="cpasswd" type="{{typecheckconfirm}}"></ion-input>
      <button *ngIf="!showPassconfirm" ion-button clear color="dark" type="button" style="height: 30px !important;padding:0 !important;font-size:2em !important;" item-right (click)="showconfirmPassword()">
          <!-- <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;"  name="ios-eye-off-outline"></ion-icon> -->
          <img style="height: 30px !important;width: 30px !important;" src='assets/img/eyeoff.svg' />
          <!-- <ion-img src="../../assets/img/eyeoff.svg"></ion-img> -->
      </button>
      <button *ngIf="showPassconfirm" ion-button clear color="dark" type="button" style="height: 30px !important;padding:0 !important;font-size:2em !important;" item-right (click)="showconfirmPassword()">
          <!-- <ion-icon style="background:none !important;transform: scaleY(-1.3)!important;" name="ios-eye-outline"></ion-icon> -->
          <img style="height: 30px !important;width: 30px !important;" src='assets/img/eyeon.svg' />
          <!-- <ion-img src="../../assets/img/eyeon.svg"></ion-img> -->
      </button>

  </ion-item>

    <!-- <ion-item>
        <ion-input placeholder="Confirm Password" [formControl]="cpasswd" type="{{typecheckconfirm}}" clearOnEdit="false"></ion-input>
        <button *ngIf="!showPassconfirm" ion-button clear color="dark" type="button" item-right (click)="showconfirmPassword()"> <ion-icon style="background:none !important;"  name="eye-off"></ion-icon>
                    </button>
        <button *ngIf="showPassconfirm" ion-button clear color="dark" type="button" item-right (click)="showconfirmPassword()">  <ion-icon style="background:none !important;" name="eye"></ion-icon>
                    </button>
    </ion-item> -->


    <br>
    <!--     <button (click)="reset()" style="background: #ffab08;" ion-button class="button-login" block color="dark" type="submit">
            Proceed</button> -->
      <!-- <ion-row style="border: none !important;">
          <ion-col style="text-align: -webkit-center !important;">
              <button (click)="reset()" style="background: #51b479 !important;color:white !important;width: 50% !important;" ion-button class="button-login" block color="dark">
                          Proceed</button>
          </ion-col>
      </ion-row> -->

    <ion-row style="border: none !important;">
      <ion-col class="

      " style="text-align: -webkit-center !important;">
          <button (click)="reset()" class="

          " style="font-weight: 600 !important;letter-spacing: .6px !important;background: #60340c !important;color: white !important;border: none !important;width: 12pc !important;height: 40px !important;border-radius: 50px;" ion-button class="button-login" block color="dark">
            Proceed</button>
      </ion-col>
  </ion-row>

    <br>


    <!--     <ion-row style="font-weight: bolder;">
        <ion-col col-2>

        </ion-col>
        <ion-col col-3 (click)="in()">
            Sign In
        </ion-col>
        <ion-col col-1>
            /
        </ion-col>
        <ion-col col-3 (click)="up()">
            Sign Up
        </ion-col>
        <ion-col col-3>

        </ion-col>
    </ion-row> -->

</ion-content>
