<ion-header>
    <ion-toolbar>
		<ion-row>
            <ion-col col-10>
                <ion-title>Call Now</ion-title>
            </ion-col>
			<ion-col col-2 no-padding>
                <ion-buttons >
                    <button (click)="closeModal($event)" ion-button color="dark" clear><ion-icon name="close"></ion-icon></button>
                </ion-buttons>
            </ion-col>
        </ion-row> 
	  
    </ion-toolbar>
  </ion-header>
<ion-content margin-top>
	<ion-item no-padding *ngFor="let item of details">
	<ion-row >
		<ion-col col-6><b><ion-icon name="ios-call"></ion-icon>{{item['name']}} </b></ion-col>
		<ion-col col-6 text-right>
			<span *ngIf="item['cusromercare'] != '' && item['cusromercare'] != null" margin-top>
				<a style="color: #88344c !important;" href="tel:{{item['call_prefix']}}{{item['cusromercare']}}">{{item['call_prefix']}}{{item['cusromercare']}}</a> <br/>
			</span>
			<span *ngIf="item['mobile'] != '' && item['mobile'] !=null" margin-top>
				<a style="color: #88344c !important;" href="tel:{{item['call_prefix']}}{{item['mobile']}}">{{item['call_prefix']}}{{item['mobile']}}</a> <br/><br/>
			</span>
			<span *ngIf="item['phone'] != '' && item['phone'] !=null" margin-top>
				<a style="color: #88344c !important;" href="tel:{{item['call_prefix']}}{{item['phone']}}">{{item['call_prefix']}}{{item['phone']}}</a><br>
			</span>
		</ion-col>
	</ion-row>
	</ion-item>
</ion-content>