page-dthdetail {
    .scroll-content {
        bottom: 30px !important;
    }
    .searchbar-md .searchbar-input {
        background-color: white !important;
    }
    .searchbar-md {
        padding: 0px !important;
    }
    .one {
        background: yellow;
        color: black;
    }
    .two {
        background: blue;
        color: white;
    }
    .three {
        background: green;
        color: white;
    }
}