<!--
  Generated template for the closePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Closed Card's</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-badge *ngIf="close != null">Total Accounts : {{close.length}}</ion-badge>
    <p style="text-align: center !important; color: black;" *ngIf="close.length == 0">You don't have any Closed Punchase Plan</p>
    <ion-card *ngFor="let s of close">
        <ion-row>
            <ion-col col-12 style="font-weight:bold;padding: 10px;">
                {{s['scheme_acc_number']}}
            </ion-col>
            <ion-col col-6>

                <ion-row>
                    <ion-col style="font-weight:bold">
                        Joined Date
                    </ion-col>
                    <ion-col>
                        {{s['start_date']}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="font-weight:bold">
                        Code
                    </ion-col>
                    <ion-col>
                        {{s['code']}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="font-weight:bold">
                        Payable
                    </ion-col>
                    <!-- <ion-col>
                        {{s['code']}}
                    </ion-col> -->
                    <ion-col *ngIf="s.scheme_type == '0'">
                        <span [innerHTML]="currency.currency.curr_symb_html"></span> {{s['amount']}}
                    </ion-col>
                    <ion-col *ngIf="s.scheme_type == '1'">
                        {{s['amount']}} g
                    </ion-col>
                    <ion-col *ngIf="s.scheme_type == '2'">
                        <span [innerHTML]="currency.currency.curr_symb_html"></span> {{s['amount']}}
                    </ion-col>
                    <ion-col *ngIf="s.scheme_type == '3'">
                        <span [innerHTML]="currency.currency.curr_symb_html"></span> {{s['max_amount']}}
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col style="font-weight:bold">
                        Installments
                    </ion-col>
                    <ion-col>
                        {{s['total_installments']}}
                    </ion-col>
                </ion-row>

            </ion-col>

            <ion-col col-6>

                <ion-row>
                    <ion-col style="font-weight:bold">
                        A/c Name
                    </ion-col>
                    <ion-col>
                        {{s['account_name']}}
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col *ngIf="s.scheme_type == 0 || s.scheme_type == 2 || (s.scheme_type == 3 && (s.flexible_sch_type == 1 || s.flexible_sch_type == 2))" style="font-weight:bold">
                        Closing Amt
                    </ion-col>

                    <ion-col *ngIf="s.scheme_type == 0 || s.scheme_type == 2 || (s.scheme_type == 3 && (s.flexible_sch_type == 1 || s.flexible_sch_type == 2))">
                        <span [innerHTML]="s['curr_symb_html']"></span> {{s['closing_balance']}}
                    </ion-col>

                    <ion-col *ngIf="s.scheme_type == 1 || (s.scheme_type == 3 && ( s.flexible_sch_type == 3 || s.flexible_sch_type == 4))" style="font-weight:bold">
                        Closing Wgt
                    </ion-col>
                    <ion-col *ngIf="s.scheme_type == 1 || (s.scheme_type == 3 && ( s.flexible_sch_type == 3 || s.flexible_sch_type == 4))">
                        {{s['closing_balance']}}
                    </ion-col>


                    <!-- 
                    <ion-col *ngIf=" (s.scheme_type != 0 || s.scheme_type == 3) &&  ( s.flexible_sch_type != 2 && s.flexible_sch_type != 3 || s.flexible_sch_type == 0)" style="font-weight:bold">
                        Closing Amt
                    </ion-col>

                    <ion-col *ngIf="(s.scheme_type != 0 || s.scheme_type == 3) &&  ( s.flexible_sch_type != 2 && s.flexible_sch_type != 3 || s.flexible_sch_type == 0)">
                        {{s['closing_balance']}}
                    </ion-col>
                    <ion-col *ngIf="s.scheme_type == 0">
                        <span [innerHTML]="currency.currency.curr_symb_html"></span> {{s['closing_balance'] | number}}
                    </ion-col> -->
                </ion-row>


                <ion-row>
                    <ion-col style="font-weight:bold">
                        Closed Date
                    </ion-col>
                    <ion-col>
                        {{s['closing_date']}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>
    <!--     <ion-fab bottom right #fab>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top" #filterBtn>
            <button (click)="gotype()" style="background: #630b23 !important;" ion-fab><ion-icon style="color:white" name="add-circle"></ion-icon></button>

        </ion-fab-list>
        <ion-fab-list side="left" #filterBtn>
            <ion-badge (click)="gotype()">Join new</ion-badge>
        </ion-fab-list>

    </ion-fab> -->
</ion-content>