<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>My Wallet</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- <h4 *ngIf="currency != ''" style="margin: 10px !important;">Balance: {{currency.currency.currency_symbol}} {{balance}}</h4> -->

    <!--     <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2>
                    <img src='assets/img/wallet.png' />
                </ion-col>
                <ion-col col-10>
                    <ion-row>
                        Purchase Wallet
                    </ion-row>
                    <ion-row>
                        <h2 *ngIf="currency != ''" style="font-weight: bolder !important;">&#8377; {{balance}}</h2>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card> -->

    <ion-card>
        <ion-row>
            <ion-col col-3>
                <ion-card-header>

                    <img src='assets/img/wallet.svg' />

                </ion-card-header>
            </ion-col>
            <ion-col col-9>
                <ion-card-content style="padding: 15px !important">
                    <h2> Jewellery Purchase Wallet</h2><br>
                    <h2 *ngIf="currency != ''" style="font-weight: bolder !important;"><span [innerHTML]="currency.currency.curr_symb_html"></span> {{balance}}</h2>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-card>


    <ion-card *ngIf="trans.length != 0">
        <ion-card-header style="background: #f39c35 !important;color:white;font-weight: bold;">
            <ion-row>
                <ion-col>
                    ID
                </ion-col>
                <ion-col>
                    Date
                </ion-col>
                <ion-col>
                    Redeem
                </ion-col>
                <ion-col>
                    Credit
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <p *ngFor="let t of trans">
                <ion-row>
                    <ion-col>
                        {{t.id_wallet_transaction}}
                    </ion-col>
                    <ion-col>
                        {{t.date_transaction}}
                    </ion-col>
                    <ion-col>
                        <span *ngIf="t['transaction_type'] == 1">{{t.value}}</span>
                    </ion-col>
                    <ion-col>
                        <span *ngIf="t['transaction_type'] == 0">{{t.value}}</span>
                    </ion-col>
                </ion-row>
                <ion-row style="border-bottom: 1px solid lightgray;">
                    <ion-col col-3>
                        Details :
                    </ion-col>
                    <ion-col col-9>
                        {{t.description}}
                    </ion-col>
                </ion-row>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>