<!--
  Generated template for the ClassiPopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-navbar>
        <ion-title style="text-align: center !important;"> ClassiPopup</ion-title>
    </ion-navbar>

</ion-header> -->


<ion-content padding>
    <div style="float: right !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal($event)" style="background: none !important;font-size: 20px !important">
            <span aria-hidden="true">&times;</span>
          </button>
        <!--   <ion-icon name="ios-close-outline" (click)="close()" style="float: right !important;font-size: 30px !important">
        </ion-icon> -->
    </div>
    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8 style="font-weight: bold;text-align: center;">
            <p *ngIf="classimage['logo'] == '' || classimage['logo'] == null" style="font-size: 15px !important; word-wrap: break-word !important;">{{classimage['classification_name']}}</p>
            <img class="" *ngIf="classimage['logo'] != '' && classimage['logo'] != null" style="width: 50% !important;text-align: center !important;margin: auto !important;" src="{{classimage['logo']}}" />
        </ion-col>
        <ion-col col-2></ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="data['flexible_sch_type'] == 1">
            <ion-input [(ngModel)]="intresred_amt" (keyup)="onKeyUp($event)" (ngModelChange)="check(data['flexible_sch_type'])" style="border: 1px solid lightgrey;" placeholder="Interested Amount" type="text"></ion-input>
        </ion-col>
        <ion-col *ngIf="data['flexible_sch_type'] == 4">
            <ion-input [(ngModel)]="intrested_wgt" (keyup)="onKeyUp($event)" (ngModelChange)="check(data['flexible_sch_type'])" style="border: 1px solid lightgrey;" placeholder="Interested Weights in Grams" type="text"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <!-- <ion-input [(ngModel)]="redeem" style="border: 1px solid lightgrey;" type="number"></ion-input> -->

            <ion-textarea style="border: 1px solid lightgrey;" [(ngModel)]="message" placeholder="Enter Message"></ion-textarea>

        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col *ngIf="err == true && data['flexible_sch_type'] == 1 " style="font-weight: bolder;color:red;font-size: x-small; text-align: center !important;">Your Amount Shold be Min &#8377; {{data['min_amount']}} and Max &#8377; {{data['max_amount']}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="err == true && data['flexible_sch_type'] == 4 " style="font-weight: bolder;color:red;font-size: x-small; text-align: center !important;">Your Weight Shold be Min {{data['min_weight']}} g and Max {{data['max_weight']}} g
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col *ngIf="err == 'multi' && data['flexible_sch_type'] == 1" style="font-weight: bolder;color:red;font-size: x-small;text-align: center !important;">Please Enter {{data['flx_denomintion']}} multiplies.
        </ion-col>
    </ion-row>


    <ion-row style="text-align: center !important;">
        <ion-col>
            <button (click)="confirm()" class="joinbtn" ion-button>Submit</button>
        </ion-col>
    </ion-row>


</ion-content>