<!--
  Generated template for the EsticalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-row>
            <ion-col style="    margin: auto;">
                <ion-title style=" ">ESTIMATION
                    <!-- <ion-icon *ngIf="details.length > 0 || selldetails.length > 0" name="trash" style="color:red;float: right;" (click)="deleteall()"></ion-icon> -->
                </ion-title>
            </ion-col>
            <ion-col>
                <button *ngIf="details.length > 0 || selldetails.length > 0" style="background: #0c0259;color:white;float: right;width: auto !important;border-radius: 10px;" (click)="deleteall()" ion-button>Clear</button>

            </ion-col>
        </ion-row>


    </ion-navbar>

</ion-header>


<ion-content padding>
    <div id="printable-area">
        <ion-card style="box-shadow: 0 0px 0px 0 rgba(32, 33, 36, 0.28) !important;">
            <!-- <ion-row text-center>

            <ion-col style="font-weight: bolder;">
                <span style="color: #723d51;font-family: system-ui !important;font-weight: bold;"> TODAY'S RATE </span>
            </ion-col>
        </ion-row> -->
            <ion-card-content style="padding: 0px !important;">

                <ion-row text-center>
                    <ion-col style="font-weight: bold;font-size: initial !important;">22Ct Gold</ion-col>
                    <ion-col style="font-weight: bold;font-size: 16px !important;">
                        <ion-spinner *ngIf="showSpinner" name="dots"></ion-spinner>&#8377; {{rates['goldrate_22ct']}}</ion-col>
                    <ion-col style="font-weight: bold;font-size: initial !important;">Silver</ion-col>
                    <ion-col style="font-size: 16px !important;font-weight: bold;">
                        <ion-spinner *ngIf="showSpinner" name="dots"></ion-spinner>&#8377; {{rates['silverrate_1gm']}}</ion-col>
                </ion-row>


            </ion-card-content>

        </ion-card>

        <ion-row text-center>
            <ion-col>
                <button ion-button style="background: #0c0259 !important;
            color: white;" (click)="purchase()" class="joinbtn">New Ornaments</button>
            </ion-col>
            <ion-col>
                <button style="border: 1px solid #0c0259 !important;color: #0c0259 !important;" ion-button (click)="sell()" class="joinbtn">Old Ornaments</button>
            </ion-col>

        </ion-row>
        <hr>

        <ion-card *ngFor="let item of details;let i=index" style="background: #0c0259 !important;
    color: white;">
            <ion-row>
                <ion-col col-9 style="font-weight: bold;margin: auto;font-size: initial !important;">New Ornaments</ion-col>
                <ion-col col-3 style="text-align: right;">
                    <span> <ion-icon name="trash" style="color:white;" (click)="ptrash(i)"></ion-icon> </span><span><ion-icon ios="ios-create" md="md-create" style="color:white;" (click)="Purchase_Edit(item,i)"></ion-icon>

       </span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-7>
                    <ion-row>
                        <ion-col>
                            <b>Item</b>
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            <b><span *ngIf="item['purchase_category'] == 1">22 Ct Gold</span><span *ngIf="item['purchase_category'] == 2">Hallmarking</span><span *ngIf="item['purchase_category'] == 3">Silver</span></b>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <b>Wastage</b>
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            <b>{{item['purchase_wastage'] !='' && item['purchase_wastage'] || '-'}}</b> <b *ngIf="item['purchase_wastage'] !=''"> % </b>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <b *ngIf="item['purchase_category'] != 3">SC(Stone Charges)</b>
                            <b *ngIf="item['purchase_category'] == 3">Making Per Gram</b>
                        </ion-col>
                        <ion-col *ngIf="item['purchase_category'] != 3" style="font-size: 12px !important;font-weight: 500;">
                            <b *ngIf="item['stone_charge'] !=''">&#8377;</b> <b>{{item['stone_charge'] !='' && item['stone_charge'] || '-'}}</b>
                        </ion-col>
                        <ion-col *ngIf="item['purchase_category'] == 3" style="font-size: 12px !important;font-weight: 500;">
                            <b *ngIf="item['mcper'] !=''">&#8377;</b> <b>{{item['mcper'] !='' && item['mcper'] || '-'}}</b>
                        </ion-col>
                    </ion-row>


                </ion-col>

                <ion-col col-5>

                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            Weight(gm)
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            {{item['purchase_weight']}}gm
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            MCS(Making Charges)
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            &#8377;{{item['making_charge']}}
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;">
                            Total Amount
                        </ion-col>
                        <ion-col style="font-size: 15px !important;
                    font-weight: bold;">
                            &#8377;{{item['purchase_total']}}
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-row>
            <ion-col col-8 style="font-weight: bold;
        font-size: larger !important;">Total Purchase Amount:</ion-col>
            <ion-col col-4 style="font-weight: bold;
        font-size: larger !important;">&#8377;{{estipurchaseTotal}}</ion-col>
        </ion-row>
        <hr>


        <ion-card style="border: 1px solid #0c0259 !important;" *ngFor="let item of selldetails;let i=index">
            <ion-row>
                <ion-col style="color: #0c0259;font-weight: bold;margin: auto;font-size: initial !important;" col-9>Old Ornaments</ion-col>
                <ion-col col-3 style="text-align: right;">
                    <span> <ion-icon name="trash" style="color:red;" (click)="strash(i)"></ion-icon> </span><span><ion-icon ios="ios-create" md="md-create" style="color:red;" (click)="Sell_Edit(item,i)"></ion-icon>
       </span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-7>
                    <ion-row>
                        <ion-col style="color: #0c0259;">
                            <b>Item</b>
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            <b><span *ngIf="item['sell_category'] == 1">Old Gold</span><span *ngIf="item['sell_category'] == 2">Old Hallmarking</span><span *ngIf="item['sell_category'] == 3">Silver</span></b>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #0c0259;">
                            <b>Wastage</b>
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            <b>{{item['sell_wastage']}}</b> <b>%</b>
                        </ion-col>
                    </ion-row>

                </ion-col>

                <ion-col col-5>

                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            Weight(gm)
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            {{item['sell_weight']}}gm
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            Pure Rate
                        </ion-col>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            &#8377;{{item['sell_purerate']}}
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col style="font-size: 12px !important;font-weight: 500;color: #0c0259;">
                            Total Amount
                        </ion-col>
                        <ion-col style="color: #0c0259;font-size: 15px !important;
                    font-weight: bold;">
                            &#8377;{{item['sell_total']}}
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-row>
            <ion-col col-8 style="font-weight: bold;
        font-size: larger !important;">Total Sell Amount:</ion-col>
            <ion-col col-4 style="font-weight: bold;
        font-size: larger !important;">&#8377;{{estisellTotal}}</ion-col>
        </ion-row>
        <!-- <hr> -->
        <ion-row style="    margin-top: 15px;margin-bottom: 20px;">
            <ion-col col-8 style="text-align: left;font-weight: bold;color:#0c0259;font-size: 18px !important;margin: auto;">
                Total Amount :
            </ion-col>
            <ion-col col-4 style="font-weight: bold;color:#0c0259;font-size: 21px !important;">
                &#8377;{{grand_total}}
            </ion-col>
        </ion-row>
    </div>
    <ion-fab *ngIf="details.length > 0 || selldetails.length > 0" bottom right #fab>
        <button (click)="exportPdf()" ion-fab><ion-icon style="color: #4FCE5D !important;" name="logo-whatsapp"></ion-icon></button>
    </ion-fab>
</ion-content>

<!-- <ion-footer style="background: #272056 !important;">
    <ion-row>
        <ion-col style="font-weight: bold;color:white;text-align: center;font-size: 18px !important;">
            Total Amount :
        </ion-col>
        <ion-col style="font-weight: bold;color:white;text-align: center;font-size: 21px !important;">
            &#8377;{{grand_total}}
        </ion-col>
    </ion-row>
</ion-footer> -->