<!--
  Generated template for the DynamictermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Terms & Conditions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-row>
        <ion-col style="font-weight: bold;text-align: center; color: black;">

            Welcome to {{companyName}} Purchase Plan.
        </ion-col>

    </ion-row>
    <p *ngFor="let s of branch;let i=index;">
        <ion-row style="border: 1px solid #813528 !important;">
            <ion-col style="font-weight: bold;background: #813528 !important;color: white;" col-10>
                {{s['classification_name']}}
            </ion-col>
            <ion-col style="background:#813528 !important;text-align: center;color: white;" col-2>
                <ion-icon (click)="tog(i)" *ngIf="s['show'] == 'false'" name="add"></ion-icon>
                <ion-icon (click)="tog(i)" *ngIf="s['show'] == 'true'" name="remove"></ion-icon>

            </ion-col>
        </ion-row>
        <ion-row *ngIf="s['show'] == 'true'">
            <ion-col style="border: 1px solid #813528 !important;">
                <p style="font-weight: normal !important; color: black;" [innerHtml]="s['description']"></p>
            </ion-col>
        </ion-row>
    </p>
</ion-content>